/*---------------------------------------- all ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  line-height: 2;
}
/*---------------------------------------- keyframes ----------------------------------------*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}

/*---------------------------------------- magic ----------------------------------------*/
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade 300ms linear 1;
}

.app > *:target ~ * {
  display: none;
}
/*---------------------------------------- body ----------------------------------------*/
body {
  background: url(../img/bg-light-4869.webp);
}
.body-center-container {
  display: flex;
  justify-content: center;
  z-index: 10;
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 1100px;
  width: 1800px;
  color: black;
  z-index: 100;
}
p {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}
h1 {
  font-size: 34px;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  font-weight: 900;
}
h3 {
  font-size: 26px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding-left: 20px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}
h6 {
  font-size: 18px;
}
.container ul {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
}
.container ul li {
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-weight: 600;
}
.container a {
  font-weight: 700;
  text-decoration: none;
}
/*---------------------------------------- header ----------------------------------------*/
.header {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/header.webp) no-repeat center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: all 0.35s ease;
}
/*---------------------------------------- menu ----------------------------------------*/
.wrapper-link {
  width: 1750px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  z-index: 1000;
}
.wrapper-link .button-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  height: 60px;
  width: 63px;
  float: left;
  margin: 10px;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(223, 221, 215, 0.75) 0%,
    rgba(143, 142, 143, 0.75) 100%
  );
  border: 0.2px solid rgba(143, 142, 143, 0.75);
  border-radius: none;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease-out;
}
.wrapper-link .button-link:hover {
  width: 250px;
}
.icon-button img {
  height: 35px;
  width: 35px;
  margin: 12.5px;
}
.wrapper-link .button-link span {
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 600;
}
/*---------- menu ----------*/
.menu input[type="checkbox"] {
  display: none;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.35s ease;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border: 0.2px solid black;
  z-index: 1000;
}
.links li {
  position: relative;
  display: flex;
  text-align: center;
  list-style: none;
  height: 50px;
  line-height: 50px;
  width: 340px;
  margin-left: 17px;
  margin-right: 17px;
  border-radius: 10px;
  z-index: 1000;
}
.links li a,
.links li label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 26px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  min-width: 220px;
  transition: all 0.35s ease;
  text-decoration: none;
  cursor: pointer;
}
.links li a:hover,
.links li label:hover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}
.links li label {
  display: none;
}
.links ul {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  opacity: 0;
  transition: all 0.35s ease-out;
  visibility: hidden;
  border-radius: 10px;
}
.links li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 0.35s ease;
}
.links ul li {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
#toggle {
  display: none;
}
#toggle > span {
  color: white;
  font-size: 42px;
}
/*---------------------------------------- the-default-view ----------------------------------------*/

/*---------------------------------------- start ----------------------------------------*/
#start ul li span,
#start p span {
  font-style: italic;
}
#start ul li a {
  text-decoration: none;
  color: #30679e;
  font-style: italic;
}
/*---------------------------------------- support ----------------------------------------*/
#support ul li a {
  color: #30679e;
}

/*---------------------------------------- mods ----------------------------------------*/
#mods ul li a {
  color: #30679e;
}
#modsul li a:visited {
  color: #30679e;
}
#mods ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url(../img/check-mark.svg) no-repeat center;
  background-size: cover;
}
#mods h4 span {
  font-weight: 900;
}
/*---------------------------------------- plugins ----------------------------------------*/
#plugins ul li span {
  font-style: italic;
  font-weight: 500;
}
/*---------------------------------------- maps ----------------------------------------*/
.cd-btn-1,
.cd-btn-2 {
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  margin: 20px;
  padding: 20px;  
  transition: 0.35s;
}
.cd-btn-1{
  border: 2px solid #ffba00;
}
.cd-btn-2{
  border: 2px solid #ff74fa;
}
.cd-btn-1:hover {
  background-color: #ffba00;
  border-color: #ffba00;
}
.cd-btn-2:hover {
  background-color: #ff74fa;
  border-color: #ff74fa;
}
/*---------------------------------------- command ----------------------------------------*/
#command ul li span {
  font-weight: 800;
  font-style: italic;
}
/*---------------------------------------- resources ----------------------------------------*/
#resources .content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
#resources h4 span {
  font-style: italic;
}
.download-files {
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  color: #ffba00;
  transition: all 0.35s ease;
}
.download-files:hover {
  color: #ff74fa;
}
.elytra,
.totem {
  display: flex;
  flex-wrap: wrap;
}
/*--------------- accordion ---------------*/
.accordion {
  background: white;
  width: auto;
  min-width: 450px;
  max-width: 1500px;
  height: max-content;
  min-height: 320px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 100px;
  border-radius: 10px;
  position: relative;
}
.accordion:after {
  content: "GMGame";
  font-size: 60px;
  font-weight: 900;
  color: white;
  position: absolute;
  height: 70px;
  top: 140px;
  left: -205px;
  transform: rotate(-90deg);
}
.accordion .title {
  font-size: 20px;
  font-weight: 600;
}
.accordion label {
  float: right;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.accordion label .mark {
  height: 10px;
  width: 10px;
  border-left: 4px solid #ffba00;
  border-bottom: 4px solid #ffba00;
  transition: transform 0.35s ease;
  transform: rotate(-45deg);
}
.accordion input[type="checkbox"] {
  display: none;
  float: right;
}
.accordion input[type="checkbox"]:checked ~ .panel {
  height: 256px;
}
.accordion input[type="checkbox"]:checked ~ label .mark {
  transform: rotate(135deg);
  border-left: 4px solid #ff74fa;
  border-bottom: 4px solid #ff74fa;
}
.accordion .panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 0px;
  transition: height ease 0.35s, padding ease 0.5s;
  overflow: hidden;
  border-radius: 5px;
}
.accordion .panel img {
  width: 256px;
  height: 256px;
}
/*---------------------------------------- market ----------------------------------------*/
.accordion-2 {
  max-width: 1500px;
}
.accordion-item {
  background: radial-gradient(
    circle,
    rgba(223, 221, 215, 0.75) 0%,
    rgba(143, 142, 143, 0.75) 100%
  );
  border: 0.1px solid rgba(143, 142, 143, 0.75);
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 8px 48px 8px 16px;
  min-height: 52px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 32px;
  position: absolute;
  right: 16px;
  color: #ffba00;
}
.accordion-item-header.active::after {
  content: "\2212";
  color: #ff74fa;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}
.accordion-item-body-content {
  padding: 16px;
  line-height: 24px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion-item-body-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin-right: 10px;
}
.accordion-item-body-content ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/*---------------------------------------- main-container ----------------------------------------*/
.main-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.5);
}
.container-link {
  width: 1800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  position: relative;
  padding: 0;
  height: 450px;
  width: 550px;
  background: url(../img/bg-light-4869.webp);
  border-radius: 8px;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  overflow: hidden;
}
.player-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}
.card img {
  width: 100%;
  transition: all 0.35s ease;
  z-index: 0;
}
.image {
  width: 100%;
  height: 200px;
  cursor: crosshair;
  overflow: hidden;
}

.image:hover img {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.player-header h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 15px;
  color: white;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.icon {
  position: absolute;
  background: white;
  padding: 8px;
  right: 10px;
  top: 135px;
  width: 110px;
  height: 110px;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
  z-index: 9;
}
#rest {
  padding: 40px 15px 30px 15px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
}
.linck-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 85px;
  width: 1500px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact a img {
  width: 65px;
  height: 65px;
}
.linck-discord iframe{
  width: 550px;
  height: 450px;
}
/*---------------------------------------- media ----------------------------------------*/
@media screen and (max-width: 1700px) {
  .wrapper-link {
    width: 1550px;    
  }
  .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1600px;
  }
}
@media screen and (max-width: 1600px) {
  .links li {
    width: 310px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .links li a,
  .links li label {
    font-size: 25px;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1550px;
  }
  .wrapper-link {
    width: auto; 
    min-width: 1400px;   
  }
  .container-link {
    width: 1550px;
  }
  .linck-contact {
    width: 1200px;
  }
  #resources .content {
    padding-left: 45px;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper-link {
    width: auto; 
    min-width: 1200px;   
  } 
  .linck-contact {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 250px;
    justify-content: space-between;
  }
  #toggle {
    display: flex;
    position: relative;
    cursor: pointer;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .links {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    height: 100%;
    min-height: 1000px;
    width: 100%;
    max-width: 450px;
    top: 250px;
    margin-left: 0;
    padding: 15px;
    overflow-y: auto;
    transition: all 0.35s ease;
    transform: translateX(-450px);
    border: none;
  }
  .active {
    transform: translateX(0px);
  }
  .links li {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    height: auto;
  }
  .links li a.desktop-link {
    display: none;
  }
  .links li a,
  .links li label {
    width: 410px;
    display: block;
    padding-left: 15px;
    font-size: 26px;
  }
  .links ul li a,
  .links ul li label {
    width: 350px;
  }
  .links ul li {
    margin: 7px 20px;
  }
  .links ul {
    position: static;
    opacity: 1;
    width: 380px;
    visibility: visible;
    background: none;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: height ease 0.35s;
  }
  .links #one-menu:checked ~ ul,
  .links #two-menu:checked ~ ul,
  .links #three-menu:checked ~ ul {
    transition: height ease 0.35s;
    max-height: 100vh;
    opacity: 1;
  }
  .wrapper-link {
    min-width: 900px; 
    display: flex;
    flex-direction: row;  
  } 
  .container-link {  
    width: 900px;
    display: flex;
    padding: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin: 0 auto 65px auto;
    height: 550px;
    width: 750px;
  }
  .linck-discord {
    margin: 0 auto;
  }
  .linck-discord iframe{    
    width: 750px;
    height: 600px;
  }
  .player-header {    
    height: 320px;
  }
  .image {
    height: 320px;
  }
  .icon {   
    top: 235px;
  }
  .accordion{
    max-width: 550px;;
  }
}
@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
  }
  h2 {
    font-size: 26px;
    font-weight: 900;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  .wrapper-link {
    min-width: 550px; 
  } 
  .card {
    width: 650px;
  }
  .linck-discord iframe{    
    width: 650px;
  }
}
@media screen and (max-width: 640px) {
  .accordion:after {
    content: "";
  }
  .links {
    max-width: 350px;
    padding: 10px;
    transform: translateX(-350px);
  }
  .active {
    transform: translateX(0px);
  }
  .links ul {
    width: 320px;
  }
  .links li a,
  .links li label {
    width: 320px;
    font-size: 24px;
  }
  .links ul li a,
  .links ul li label {
    width: 300px;
  }
  .card {
    width: 550px;
  }
  .linck-discord iframe{    
    width: 550px;
  }
  #resources .content
  {
    padding-left: 0;
  }
}
@media screen and (max-width: 480px){
  .wrapper-link {
    min-width: 400px; 
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .card {
    width: 450px;
  }
  .linck-discord iframe{    
    width: 450px;
  }
  .accordion{
    max-width: 450px;;
  }
}