{% extends "_base.html" %} 

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/profile.css" />
{% endblock %} 

{% block content %}
<div class="me-block">
  {% if not gmg_ok %}
  <p class="warning-help"> Вы не зашли на дискорд сервер, для получения полного функционала, пожалуйста, присоединитесь к <a href="https://discord.gg/cAM6tUYEuX" target="_blank">серверу</a></p>
  {% endif %}   
  {% if user_id["status"] and user_id["status"] != 0 %} 
  {% include "profile/status.html" %} 
  {% else %}
  <div class="profile-tabs">
    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked/>
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two"/>
    <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three"/>

    <div class="tabs flex-tabs">
      <label for="tab-one" id="tab-one-label" class="tab">
        {% include "/svg/svg_5.html" %}
        <span>Заявка</span>
      </label>
      <label for="tab-two" id="tab-two-label" class="tab">
        {% include "/svg/svg_5.html" %}
        <span>Faq</span>
      </label>
      <label for="tab-three" id="tab-three-label" class="tab">
        {% include "/svg/svg_5.html" %}
        <span>Правила</span>
      </label>

      <div id="tab-one-panel" class="panel active">
        <div id="res"></div>
        <div class="profile">
          <div class="me-register">
            <div class="border-line">
              <label> </label>
              <input id="login" type="input" name="login" placeholder=""/>
              <span>Логин (игровой ник на сервере)</span>
            </div>
            <div class="border-line">
              <label> </label>
              <input id="password" type="input" name="password" placeholder=""/>
              <span>Пароль (минимум 8 символов. Используется для входа на сервер)</span>
            </div>
            <div class="border-line">
              <label> </label>
              <select name="type" id="type">
                <option value=" "></option>
                <option value="1">Лицензия</option>
                <option value="0">Пиратка</option>
              </select>
              <span>Тип акаунта</span>
            </div>
            <div class="border-line">
              <label> </label>
              <input id="age" type="input" name="age" placeholder="" />
              <span>Возраст</span>
            </div>
          </div>
          <div class="me-register me-register-custom">
            <div class="border-line">
              <label> </label>
              <textarea name="from_about" id="from_about" cols="auto" rows="auto"></textarea>
              <span>Откуда узнали о проекте. Если вы по совету друга, пожалуйста, не поленитесь указать его ник на сервере</span>
            </div>
            <div class="border-line">
              <label> </label>
              <textarea name="you_about" id="you_about" cols="auto" rows="auto"></textarea>
              <span>Интересы в майнкрафт</span>
            </div>
            <div class="border-line">
              <label> </label>
              <textarea name="servers" id="servers" cols="auto" rows="auto"></textarea>
              <span>Прошлые серверы</span>
            </div>
          </div>
          <div class="register-block">
            <button id="register" class="register-btn-next">Отправить заявку</button>
          </div>
        </div>
      </div>
      <div id="tab-two-panel" class="panel">{% include "faq.html" %}</div>
      <div id="tab-three-panel" class="panel">{% include "regulations.html" %}</div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %} 

