<div class="me-info-profile">
  <div class="border-line">
    <label><img src="https://minotar.net/avatar/{{ user_id.username }}/100"></img></label>
    <p>{{ user_id.username }}</p>
    <span>ник</span>
  </div>
  <div class="border-line">
    <label>{% include "/svg/svg_7.html" %} </label>
    {% if user_id["status"] == 2 %}
    <p>mine.gmgame.ru</p>
    {% else %}
    <p>Виден для игроков сервера. Вы пока не игрок</p>
    {% endif %}
    <span>адрес сервера</span>
  </div>
  <div class="border-line">
    <label>{% include "/svg/svg_8.html" %}</label>
    <p> {{ version }}</p>
    <span>версия</span>
  </div>
  <div class="border-line">
    <label>{% include "/svg/svg_9.html" %}</label>
    <!-- новый игрок -->
    {% if user_id["status"] == 1 %}
    <p class="me-1">Заявка на расмотрении</p>
    <!-- добавленный игрок -->
    {% elif user_id["status"] == 2 %}
    <p class="me-2">Вы игрок сервера</p>
    <!-- непринятый игрок -->
    {% elif user_id["status"] == 3 %}
    <p class="me-3">Отказ</p>
    <!-- забаненный игрок -->
    {% elif user_id["status"] == 4 %}
    <p class="me-4">Бан</p>
    <!-- удален из вл -->
    {% elif user_id["status"] == 5 %}
    <p class="me-5">Не активный</p>    
    {% endif %}
    <span>статус</span>
  </div>
</div>