<div class="profile-help">
  <a class="otstup" href="/logout"
    ><label> {% include "/svg/svg_10.html" %} </label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Выйти</a
  >
  {% if user_id["status"] == 2 %} 
  {% if opUser %}
  <a href="/list_players/"
    ><label> {% include "/svg/svg_17.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Заявки</a
  >
  {% endif %}
  <a href="/change_password"
    ><label> {% include "/svg/svg_12.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Смена пароля</a
  >
  <a href="/give_prize"
    ><label> {% include "/svg/svg_12.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Призы</a
  >
  <a href="/markers/"
    ><label> {% include "/svg/svg_11.html" %} </label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мои метки</a
  >
  <a href="/territories"
    ><label> {% include "/svg/svg_11.html" %} </label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мои территории</a
  >
  {% if opUser %}
  <a href="/other_markers/"
    ><label> {% include "/svg/svg_14.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Все метки</a
  >
  <a href="/other_territories"
    ><label> {% include "/svg/svg_11.html" %} </label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Все территории</a
  >
  <a href="/farm_manager"
    ><label> {% include "/svg/svg_15.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Farm Manager</a
  >
  {% endif %}
  <a href="/my_articles"
    ><label> {% include "/svg/svg_13.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мои статьи</a
  >
  {% if opUser %}
  <a href="/category"
    ><label> {% include "/svg/svg_16.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Категории</a
  >
  <a href="/testing_svg"
  ><label> {% include "/svg/svg_16.html" %}</label
  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Иконоки</a
  >
  <a href="/ticket_all"
    ><label> {% include "/svg/svg_16.html" %}</label
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тикеты</a
  >
  {% endif %} 
  {% endif %}
</div>
