<div class="profile-tabs">

  <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
  <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
  <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />

  <div class="tabs flex-tabs">
    {% include "profile/tabs.html" %}
    <div id="tab-one-panel" class="panel active">
      <div class="profile">
        {% include  "profile/profile.html" %}
        {% include  "profile/rightMenu.html" %}
        <div class="regulations-block">
          {% include "regulations.html" %}
          <!-- искать по #0987654321 -->
        </div>
        <div class="link-support-profile">
          <p>Сервер является абсолютно бесплатным.</p>
          <p>Он существует и развивается только за счет активных игроков,
            ламповой атмосферы и ваших пожертвований</p>
          <p>Спасибо за участие!</p>
          <div class="BuTtOn"><a href="/support/">Поддержать проект</a></div>
        </div>
      </div>
    </div>
    <div id="tab-two-panel" class="panel">
      {% include "faq.html" %}
      <!-- искать по #1234567890 -->
    </div>
    <div id="tab-three-panel" class="panel">
      <div id="add_marker_res"></div>
      <table class="metki">
        <thead>
          <tr>
            <th>Мир</th>
            <th>Расположение</th>
            <th>Имя</th>
            <th class="x-y-z">X</th>
            <th class="x-y-z">Y</th>
            <th class="x-y-z">Z</th>
            <th>Описание</th>
            <th>Добавить</th>
            <th>Удалить</th>
          </tr>
        </thead>
        <tbody id="metki_tbody">
          {% for marker in markers %}
          <tr id="tr-{{ marker.id }}">
            <th data-label="Мир">
              <select name="server" id="server-{{ marker.id }}">
                <option value="gmgame" {% if marker.server=='gmgame' %} selected="selected" {% endif %}>Основной мир
                </option>
                <option value="farm" {% if marker.server=='farm' %} selected="selected" {% endif %}>Фермерский мир
                </option>
              </select>
            </th>
            <th data-label="Расположение">
              <select name="id_type" id="id_type-{{ marker.id }}">
                <option value="basePlayers" {% if marker.id_type=='basePlayers' %} selected="selected" {% endif %}>
                  Базы игроков - over</option>
                <option value="city" {% if marker.id_type=='city' %} selected="selected" {% endif %}>Города - over
                </option>
                <option value="shopping_centers" {% if marker.id_type=='shopping_centers' %} selected="selected" {%
                  endif %}>Торговые центры - over</option>
                <option value="turquoise" {% if marker.id_type=='turquoise' %} selected="selected" {% endif %}>
                  Бирюзовая - nether</option>
                <option value="orange" {% if marker.id_type=='orange' %} selected="selected" {% endif %}>Оранжевая - nether
                </option>
                <option value="lime" {% if marker.id_type=='lime' %} selected="selected" {% endif %}>Лаймовая - nether
                </option>
                <option value="pink" {% if marker.id_type=='pink' %} selected="selected" {% endif %}>Розовая - nether
                </option>
                <option value="farm" {% if marker.id_type=='farm' %} selected="selected" {% endif %}>Фермы - nether
                </option>
                <option value="end_portals" {% if marker.id_type=='end_portals' %} selected="selected" {% endif %}>Энд порталы - nether</option>
                <option value="pixel_arts" {% if marker.id_type=='pixel_arts' %} selected="selected" {% endif %}>
                  Пиксель арты - end</option>
              </select>
            </th>
            <th data-label="Имя"><input type="text" placeholder="{{ marker.name }}" name="name"
                id="name-{{ marker.id }}" value="{{ marker.name }}"></th>
            <th data-label="X"><input class="x-y-z" type="text" placeholder="{{ marker.x }}" name="x"
                id="x-{{ marker.id }}" value="{{ marker.x }}"></th>
            <th data-label="Y"><input class="x-y-z" type="text" placeholder="{{ marker.y }}" name="y"
                id="y-{{ marker.id }}" value="{{ marker.y }}"></th>
            <th data-label="Z"><input class="x-y-z" type="text" placeholder="{{ marker.z }}" name="z"
                id="z-{{ marker.id }}" value="{{ marker.z }}"></th>
            <th data-label="Описание">
              <div style="display: inline-block; float: left; width:auto;">
                <input type="text" placeholder="{{ marker.description }}" name="description" id="description-{{ marker.id }}" 
                  {% if marker.description %} value="{{ marker.description }}" {% endif %}>
              </div>
              <div style="display: inline-block; float:left;">
                {% if marker.id_type=='basePlayers' or marker.id_type=='city' or marker.id_type=='shopping_centers' %}
                  <a target="blank" href="https://map.gmgame.ru/#/{{ marker.x }}/{{ marker.y }}/{{ marker.z }}/-4/GMGameWorld%20-%20overworld/over">карта</a>
                {% elif marker.id_type=='turquoise' or marker.id_type=='orange' or marker.id_type=='lime' or marker.id_type=='pink' or marker.id_type=='farm' %}
                  <a target="blank" href="https://map.gmgame.ru/#/{{ marker.x }}/{{ marker.y }}/{{ marker.z }}/-4/GMGameWorld-Nether%20-%20nether/nether">карта</a>
                {% elif marker.id_type=='end_portals' or marker.id_type=='pixel_arts' %}
                  <a target="blank" href="https://map.gmgame.ru/#/{{ marker.x }}/{{ marker.y }}/{{ marker.z }}/-4/GMGameWorld-TheEnd%20-%20end/the_end">карта</a>
                {% endif %}
              </div>
            </th>
            <th data-label="Добавить"><button id="edit-{{ marker.id }}">Изменить</button></th>
            <th data-label="Удалить"><button id="del-{{ marker.id }}">Удалить</button></th>
          </tr>
          {% endfor %}
          <tr>
            <th data-label="Мир">
              <select name="add_server" id="add_server">
                <option value="gmgame">Основной мир</option>
                <option value="farm">Фермерский мир</option>
              </select>
            </th>
            <th data-label="Расположение">
              <select name="add_id_type" id="add_id_type">
                <option value="basePlayers">Базы игроков</option>
                <option value="city">Города</option>
                <option value="shopping_centers">Торговые центры - over</option>
                <option value="turquoise">Бирюзовая - nether</option>
                <option value="orange">Оранжевая - nether</option>
                <option value="lime">Лаймовая - nether</option>
                <option value="pink">Розовая - nether</option>
                <option value="farm">Фермы - nether</option>
                <option value="end_portals">Энд порталы - nether</option>
                <option value="pixel_arts">Пиксель арты - end</option>
              </select>
            </th>
            <th data-label="Имя"><input type="text" placeholder="text" name="add_name" id="add_name"></th>
            <th data-label="X"><input class="x-y-z" type="text" placeholder="0000" name="add_x" id="add_x"></th>
            <th data-label="Y"><input class="x-y-z" type="text" placeholder="0000" name="add_y" id="add_y"></th>
            <th data-label="Z"><input class="x-y-z" type="text" placeholder="0000" name="add_z" id="add_z"></th>
            <th data-label="Описание"><input type="text" placeholder="text-text" name="add_description"
                id="add_description"></th>
            <th data-label="Добавить"><button id="add">Добавить</button></th>
            <th data-label="Удалить" class="display-none"></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>