<div class="profile-tabs">

  <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
  <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
  <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />

  <div class="tabs flex-tabs">
    <label for="tab-one" id="tab-one-label" class="tab">{% include "/svg/svg_18.html" %}<span>Профиль</span></label>
    <label for="tab-two" id="tab-two-label" class="tab">{% include "/svg/svg_19.html" %}<span>Faq</span></label>
    <label for="tab-three" id="tab-three-label" class="tab">{% include "/svg/svg_20.html" %}<span>Правила</span></label>
    
    <div id="tab-one-panel" class="panel active">
      <div class="profile">
        {% include  "profile/profile.html" %}
        {% include  "profile/rightMenu.html" %}
        <div class="link-support-profile">
          <p>Сервер является абсолютно бесплатным.</p>
          <p>Он существует и развивается только за счет активных игроков, ламповой атмосферы и ваших пожертвований</p>
          <p>Спасибо за участие!</p>
          <div class="BuTtOn"><a href="/support/">Поддержать проект</a></div>
        </div>
      </div>
    </div>
    <div id="tab-two-panel" class="panel">{% include "faq.html" %} </div>
    <div id="tab-three-panel" class="panel">{% include "regulations.html" %}</div>
  </div>

</div>