.change-password-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change-password-block .pas-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.change-password-block .pas-center .hint {
  width: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.change-password-block .pas-center .inputpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f7f7f7;
  border-radius: 0;
  outline: none;
  background: transparent;
  font-weight: 750;
  font-size: 18px;
  height: auto;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px auto;
  width: 300px;
}

.change-password-block .pas-center .buttonpasworld {
  color: white;
  font-weight: 700;
  text-align: center;
  height: auto;
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
