.market-block .accordion-item-header img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.market-block .accordion-item-body-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.market-block .accordion-item-body-content ul li img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 36px;
  margin-right: 10px;
}
