@media screen and (max-width: 767px) {
  /*---------- body ----------*/
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
  }
  h2 {
    font-size: 26px;
    font-weight: 900;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  /*---------- header ----------*/
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 550px;
  }
  /*---------- menu ----------*/
  /*---------- start ----------*/
  /*---------- support ----------*/
  /*---------- mods ----------*/
  /*---------- config-system ----------*/
  /*---------- maps ----------*/
  /*---------- command ----------*/
  /*---------- gallery ----------*/
  /*---------- resources ----------*/
  /*---------- litematica ----------*/
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
  .main-link {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card {
    width: 650px;
  }
  .player-header {
    height: 300px;
  }
  .image {
    height: 300px;
  }
  .icon {
    top: 235px;
  }
  .linck-discord {
    margin: 0 auto;
  }
  .linck-discord iframe {
    width: 650px;
  }
  /*---------- register ----------*/
  .register-form {
    height: auto;
    width: 100%;
  }
  .register-form input,
  .register-form textarea,
  .register-form select {
    min-height: 45px;
    max-height: 150px;
    max-width: 95%;
    min-width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px auto;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
  }
  .warning-help-1 {
    font-size: 20px;
  }
  .warning-help-2 {
    font-size: 20px;
  }
  .warning-help-2 a:visited {
    font-size: 20px;
  }
  /*---------- profile ----------*/
  .me-info-profile {
    width: 100%;
  }
  .border-line {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid #f4f4f450;
  }
  .profile-help {
    width: 100%;
    padding-top: 10px;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 45px;
  }
  .link-support-profile {
    width: 100%;
    padding: 0 30px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  /*---------- metki ----------*/
}
