@media screen and (max-width: 1600px) {
  /*---------- body ----------*/
  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1550px;
  }
  /*---------- header ----------*/
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: auto;
    min-width: 1400px;
  }
  /*---------- menu ----------*/
  .links li {
    width: 310px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .links li a,
  .links li label {
    font-size: 25px;
  }
  /*---------- start ----------*/
  /*---------- support ----------*/
  /*---------- mods ----------*/
  /*---------- config-system ----------*/
  /*---------- maps ----------*/
  /*---------- command ----------*/
  /*---------- gallery ----------*/
  /*---------- resources ----------*/
  #resources .content {
    padding-left: 45px;
  }
  /*---------- litematica ----------*/
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
  .container-link {
    width: 1550px;
  }
  .linck-contact {
    width: 1200px;
  }
  /*---------- register ----------*/
  /*---------- profile ----------*/
  /*---------- metki ----------*/
}
