@media screen and (max-width: 1700px) {
  /*---------- body ----------*/
  .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1600px;
  }
  /*---------- header ----------*/
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: 1550px;
  }
  /*---------- menu ----------*/
  /*---------- start ----------*/
  /*---------- support ----------*/
  /*---------- mods ----------*/
  /*---------- config-system ----------*/
  /*---------- maps ----------*/
  /*---------- command ----------*/
  /*---------- gallery ----------*/
  /*---------- resources ----------*/
  /*---------- litematica ----------*/
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
      
  /*---------- register ----------*/
  /*---------- profile ----------*/
  /*---------- metki ----------*/
}
