.warning-help {
  font-size: 24px;
  color: red;
  font-weight: 600;
  background: transparent;
}

.profile-tabs {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.profile-tabs .state {
  position: absolute;
  left: -10000px;
}

.profile-tabs .flex-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.profile-tabs .flex-tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(61, 61, 61, 0.55);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 150px;
  height: 60px;
}

.profile-tabs .flex-tabs .tab svg {
  width: 30px;
  height: 30px;
  margin: auto 10px;
  fill: #f7f7f7;
}

.profile-tabs .flex-tabs .tab span {
  width: auto;
  height: 30px;
  line-height: 30px;
  margin: auto 10px auto 0;
  fill: #f7f7f7;
}

.profile-tabs .flex-tabs .tab:hover {
  background-color: #727272;
}

.profile-tabs .flex-tabs .panel {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  min-height: 500px;
  width: 100%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-top: 35px;
}

.profile-tabs .flex-tabs .panel .h3-spam {
  margin: 15px;
  margin-left: 50px;
}

.profile-tabs .flex-tabs .panel .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: 100%;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 75%;
  padding: 30px;
  position: relative;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: auto;
  height: 65px;
  margin-left: 80px;
  margin-bottom: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #f7f7f750;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: 100%;
  height: auto;
  padding: 0;
  margin-left: 70px;
  font-size: 18px;
  font-weight: 750;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line span {
  position: absolute;
  background: transparent;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 70px;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line label {
  position: absolute;
  background: transparent;
  width: 35px;
  height: 35px;
  fill: #f7f7f7;
  margin-top: 12px;
  margin-left: 15px;
  cursor: default;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-1 {
  color: rgba(238, 255, 0, 0.658);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-2 {
  color: rgba(72, 255, 0, 0.616);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-3 {
  color: rgba(255, 28, 28, 0.603);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-4 {
  color: red;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-5 {
  color: rgba(255, 213, 0, 0.776);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f7f7f7;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font-weight: 750;
  font-size: 18px;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile-wight {
  width: 100% !important;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile-wight .border-line {
  margin-right: 80px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 25%;
  height: auto;
  padding: 30px;
  padding-top: 42px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help .otstup {
  padding-bottom: 50px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a {
  color: #f7f7f7;
  margin-top: 10px;
  position: relative;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a label {
  position: absolute;
  height: auto;
  width: 25px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a label svg {
  width: auto;
  height: auto;
  fill: #f7f7f7;
}

.profile-tabs .flex-tabs .panel .profile .profile-help-display-none {
  display: none;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  padding: 0 30px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile .BuTtOn {
  text-align: center;
  height: auto;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile .BuTtOn a {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile .BuTtOn a:visited, .profile-tabs .flex-tabs .panel .profile .link-support-profile .BuTtOn a:focus {
  color: #f7f7f7;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile .BuTtOn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile p {
  height: auto;
  margin-top: 10px;
  width: 100%;
}

.profile-tabs .flex-tabs .panel .profile .me-register {
  height: 300px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: auto;
  height: 75px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #f7f7f750;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  min-height: 25px;
  height: 100%;
  color: lightgreen;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  padding: 5px 20px;
  font-size: 18px;
  bottom: 0;
  z-index: 2;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input:focus, .profile-tabs .flex-tabs .panel .profile .me-register .border-line input:active,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea:focus,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea:active,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select:focus,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select:active {
  background: rgba(59, 59, 59, 0.623);
  color: lightgreen;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input option,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea option,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select option {
  background: rgba(59, 59, 59, 0.623);
  color: #f7f7f7;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line span {
  position: absolute;
  margin: 45px;
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom .border-line {
  min-height: 100px;
  max-height: 100px;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom .border-line span {
  position: absolute;
  margin: 70px;
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.profile-tabs .flex-tabs .panel .profile .regulations-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.profile-tabs .flex-tabs .panel .profile .register-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next {
  color: #f7f7f7;
  margin: 20px auto;
  padding: 20px auto;
  height: 50px;
  width: 300px;
  font-size: 18px;
  background: radial-gradient(circle, #464646 0%, #656565 100%);
  border: 0.2px solid #464646;
  border-radius: 5px;
  outline: none;
}

.profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next:hover, .profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next:visited {
  outline: none;
}

.profile-tabs .flex-tabs .panel .faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 0;
  padding-bottom: 10px;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#tab-one:checked ~ .tabs #tab-one-label::before,
#tab-two:checked ~ .tabs #tab-two-label::before,
#tab-three:checked ~ .tabs #tab-three-label::before {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  content: "";
  height: 20px;
  width: 150px;
  padding: 0;
  margin: 0;
  top: -20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#tab-one:checked ~ .tabs #tab-one-label::after,
#tab-two:checked ~ .tabs #tab-two-label::after,
#tab-three:checked ~ .tabs #tab-three-label::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #3b3b3b;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel {
  display: block;
}
