/*---------------------------------------- all ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  line-height: 2;
}
/*---------------------------------------- keyframes ----------------------------------------*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}

/*---------------------------------------- magic ----------------------------------------*/
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade 300ms linear 1;
}

.app > *:target ~ * {
  display: none;
}
/*---------------------------------------- body ----------------------------------------*/
body {
  background: url(../img/bg-light-4869.webp);
}
.body-center-container {
  display: flex;
  justify-content: center;
  z-index: 10;
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 800px;
  width: 1800px;
  color: black;
  z-index: 100;
}
.warning {
  display: flex;
  position: absolute;
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.692);
  z-index: 9999999999999999;
  color: black;
  padding: 5px 20px;
  text-align: center;
}
p {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}
h1 {
  font-size: 34px;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  font-weight: 900;
}
h3 {
  font-size: 26px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding-left: 20px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}
h6 {
  font-size: 18px;
}
.container ul {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
}
.container ul li {
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-weight: 600;
}
.container a {
  font-weight: 700;
  text-decoration: none;
}
/*---------------------------------------- header ----------------------------------------*/
.header {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/header.webp) no-repeat center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: all 0.35s ease;
}
/*---------------------------------------- header-menu-link ----------------------------------------*/
.wrapper-link {
  width: 1750px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  z-index: 1000;
}
.wrapper-link .button-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  height: 60px;
  width: 63px;
  float: left;
  margin: 10px;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(223, 221, 215, 0.75) 0%,
    rgba(143, 142, 143, 0.75) 100%
  );
  border: 0.2px solid rgba(143, 142, 143, 0.75);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease;
}
.wrapper-link .button-link:hover {
  transition: all 0.35s ease-in-out;
  width: max-content;
  padding-right: 25px;
}
.icon-button img {
  height: 35px;
  width: 35px;
  margin: 12.5px;
}
.wrapper-link .button-link span {
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 600;
}
/*---------- menu ----------*/
.menu input[type="checkbox"] {
  display: none;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.35s ease;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border: 0.2px solid black;
  z-index: 1000;
}
.links li {
  position: relative;
  display: flex;
  text-align: center;
  list-style: none;
  height: 50px;
  line-height: 50px;
  width: 340px;
  margin-left: 17px;
  margin-right: 17px;
  border-radius: 10px;
  z-index: 1000;
}
.links li a,
.links li label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 26px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  min-width: 220px;
  transition: all 0.35s ease;
  text-decoration: none;
  cursor: pointer;
}
.links li a:hover,
.links li label:hover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}
.links li label {
  display: none;
}
.links ul {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  opacity: 0;
  transition: all 0.35s ease-out;
  visibility: hidden;
  border-radius: 10px;
}
.links li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 0.35s ease;
}
.links ul li {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
#toggle {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  display: none;
}
#toggle.active {
  background: rgba(0, 0, 0, 0.7);
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transition: 0.3s ease;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 white;
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transition: 0.3s ease;
  transform: translateY(10px);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}
/*---------------------------------------- the-default-view ----------------------------------------*/

/*---------------------------------------- start ----------------------------------------*/
#start ul li span,
#start p span {
  font-style: italic;
}
#start ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/*---------------------------------------- support ----------------------------------------*/
#support ul li a {
  color: #30679e;
}
/*---------------------------------------- mods ----------------------------------------*/
#mods ul li a {
  color: #30679e;
}
#modsul li a:visited {
  color: #30679e;
}
#mods ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url(../img/check-mark.svg) no-repeat center;
  background-size: cover;
}
#mods h4 span {
  font-weight: 900;
}
/*---------------------------------------- config-system ----------------------------------------*/
#config-system ul li span {
  font-style: italic;
  font-weight: 500;
}
/*---------------------------------------- maps ----------------------------------------*/
.cd-btn-1,
.cd-btn-2 {
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  margin: 20px;
  padding: 20px;
  transition: 0.35s;
}
.cd-btn-1 {
  border: 2px solid #ffba00;
}
.cd-btn-2 {
  border: 2px solid #ff74fa;
}
.cd-btn-1:hover {
  background-color: #ffba00;
  border-color: #ffba00;
}
.cd-btn-2:hover {
  background-color: #ff74fa;
  border-color: #ff74fa;
}
/*---------------------------------------- command ----------------------------------------*/
#command ul li span {
  font-weight: 800;
  font-style: italic;
}
/*---------------------------------------- gallery ----------------------------------------*/

/*---------------------------------------- resources ----------------------------------------*/
#resources .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#resources h4 span {
  font-style: italic;
}
.download-files {
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  color: #ffba00;
  transition: all 0.35s ease;
}
.download-files:hover {
  color: #ff74fa;
}
/*---------------------------------------- litematica ----------------------------------------*/
#litematica .accordion-item-body-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info-litematic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
}
.info-litematic-img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
}
.accordion-item-body-content .info-litematic-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.info-litematic ul li {
  font-size: 16px;
}
.info-litematic ul li a {
  font-size: 16px;
  color: black;
  text-transform: none;
  font-weight: 500;
  font-style: italic;
}
/*---------------------------------------- market ----------------------------------------*/

/*---------- accordion-2 ----------*/
.accordion-2 {
  max-width: 1500px;
  width: auto;
}
.accordion-item {
  background: radial-gradient(
    circle,
    rgba(223, 221, 215, 0.75) 0%,
    rgba(143, 142, 143, 0.75) 100%
  );
  border: 0.1px solid rgba(143, 142, 143, 0.75);
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  min-width: 350px;
}
.accordion-item-header {
  padding: 8px 48px 8px 16px;
  min-height: 52px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 32px;
  position: absolute;
  right: 16px;
  color: #ffba00;
}
.accordion-item-header.active::after {
  content: "\2212";
  color: #ff74fa;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}
.accordion-item-body-content {
  padding: 16px;
  line-height: 24px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion-item-body-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin-right: 10px;
}
.prev-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px !important;
  width: 250px !important;
  margin: 0 auto !important;
}
.accordion-item-body-content ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/*---------------------------------------- main-container ----------------------------------------*/
.main-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.main-link h6 {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
.container-link {
  width: 1800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  position: relative;
  padding: 0;
  height: 450px;
  width: 550px;
  background: url(../img/bg-light-4869.webp);
  border-radius: 8px;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  overflow: hidden;
}
.player-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}
/*---------- card ----------*/
.card img {
  width: 100%;
  transition: all 0.35s ease;
  z-index: 0;
}
.image {
  width: 100%;
  height: 200px;
  cursor: crosshair;
  overflow: hidden;
}
.image:hover img {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.player-header h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 15px;
  color: white;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.icon {
  position: absolute;
  background: white;
  padding: 8px;
  right: 10px;
  top: 135px;
  width: 110px;
  height: 110px;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
  z-index: 9;
}
#rest {
  padding: 40px 15px 30px 15px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
}
/*---------- all ----------*/
.linck-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 85px;
  width: 1500px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact a img {
  width: 65px;
  height: 65px;
}
.linck-discord iframe {
  width: 550px;
  height: 450px;
}
/*---------------------------------------- modal-register ----------------------------------------*/
.register-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  height: auto;
  width: 650px;
}
.register-form input,
.register-form textarea,
.register-form select {
  min-height: 45px;
  max-height: 150px;
  max-width: 70%;
  min-width: 70%;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px auto;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
}
.register-form input:active,
.register-form input:focus,
.register-form textarea:active,
.register-form textarea:focus,
.register-form select:active,
.register-form select:focus {
  border: 1px solid black;
}
.register-form input placeholder,
.register-form input placeholder:hover {
  font-size: 16px;
  background: none;
}
.input-name {
  position: relative;
  width: 250px;
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.register-btn-next {
  margin: 20px auto;
  padding: 20px auto;
  background: lightblue;
  height: 50px;
  width: 300px;
  background: radial-gradient(
    circle,
    rgba(223, 221, 215, 0.75) 0%,
    rgba(143, 142, 143, 0.75) 100%
  );
  border: 0.2px solid rgba(143, 142, 143, 0.75);
  outline: none;
}
.register-btn-next:hover {
  outline: none;
}
.warning-help-1 {
  font-size: 24px;
  color: red;
  font-weight: 600;
  background: transparent;
}
.warning-help-2 {
  font-size: 24px;
  color: black;
  font-weight: 600;
  background: transparent;
}
.warning-help-2 a:visited {
  font-size: 24px;
  color: black;
  font-weight: 600;
  background: transparent;
}
/*---------------------------------------- metki ----------------------------------------*/

#metki, #add_metki {
  /* display: flex; */
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 50px auto;
}
#metki thead tr th,
#metki_tbody tr th,
#add_metki tr th {
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
#table-one {
  width: 130px;
}
#table-two {
  width: 170px;
}
#table-three {
  width: 140px;
}
#table-four,
#table-five,
#table-six  {
  width: 75px;
}
#table-seven {
  width: 400px;
}
#table-eight,
#table-nine {
  width: 100px;
}
#metki_tbody tr th input, #add_metki tr th input {
  border: none;
  background: transparent;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 5px 15px;
  outline: none;
  font-size: 16px;
}
#metki_tbody tr th input, #add_metki tr th input:hover,
#metki_tbody tr th input, #add_metki tr th input:active {
  border: none;
}
#metki_tbody tr th select, #add_metki tr th select {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
#metki_tbody tr th button, #add_metki tr th button {
  width: 100%;
  height: 35px;
  margin: 0;
  padding: auto;
  outline: none;
  background: none;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease;
}
#metki_tbody tr th button:hover, #add_metki tr th button:hover {
  background: rgba(158, 155, 147, 0.9);
}