* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #202a30;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #17374b;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #224e69;
}

.customBg {
  background: url(../img/bg.webp);
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

.customBg::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.body-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.body-center-container .container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  min-height: 1400px;
  width: 1600px;
  color: #f7f7f7;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.7);
}

.body-center-container .container p {
  font-size: 16px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h1 {
  font-size: 32px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h2 {
  font-size: 28px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h4 {
  font-size: 20px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h5 {
  font-size: 18px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container h6 {
  font-size: 18px;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container ul {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.body-center-container .container ul li {
  font-size: 18px;
  line-height: 1.75;
  text-decoration: none;
  font-weight: 600;
  color: #f7f7f7;
}

.body-center-container .container a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #3b9dff;
}

.body-center-container .container a :visited,
.body-center-container .container a :hover,
.body-center-container .container a :active {
  color: #3b9dff;
}

.wiki-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
}

.wiki-href .linkins-wiki {
  width: auto;
}

.wiki-href .span-w {
  color: #f7f7f7;
  margin: 5px;
}

.main-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.main-link h6 {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

/*---------------------------------------- metki ----------------------------------------*/
.metki {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  position: relative;
}

.metki thead {
  background: rgba(61, 61, 61, 0.55);
  width: 100%;
}

.metki thead tr th {
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #f7f7f7;
  opacity: 1;
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #f7f7f715;
}

.metki thead tr .x-y-z {
  text-align: center;
  width: 7%;
}

.metki tbody tr th {
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #f7f7f7;
  background: transparent;
  vertical-align: middle;
  border: 1px solid #f7f7f715;
  padding: 5px;
}

.metki tbody tr th input,
.metki tbody tr th select,
.metki tbody tr th button {
  color: #f7f7f7;
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 5px;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.metki tbody tr th input select,
.metki tbody tr th select select,
.metki tbody tr th button select {
  padding: 0 8px;
}

.metki tbody tr th input select option,
.metki tbody tr th select select option,
.metki tbody tr th button select option {
  background: #3a3b3d;
}

.metki tbody tr th buttonhover {
  background: rgba(168, 168, 168, 0.589);
}

.metki tbody tr th span {
  padding: 0 8px;
}

.metki tbody tr .x-y-z {
  text-align: center;
}

.header-metki {
  width: 100%;
  height: auto;
  background: rgba(56, 56, 56, 0.75);
  text-align: center;
  padding: 5px;
  border: 1px solid #f7f7f715;
  border-bottom: none;
}

@media screen and (max-width: 1700px) {
  /*---------- body ----------*/
  .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1600px;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: 1550px;
  }
}

@media screen and (max-width: 1600px) {
  /*---------- body ----------*/
  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1550px;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: auto;
    min-width: 1400px;
  }
  /*---------- menu ----------*/
  .links li {
    width: 310px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .links li a,
  .links li label {
    font-size: 25px;
  }
}

@media screen and (max-width: 1400px) {
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: auto;
    min-width: 1200px;
  }
  /*---------- register ----------*/
  .panel .profile .me-register .border-line {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*---------- profile ----------*/
  /*---------- metki ----------*/
}

@media screen and (max-width: 1024px) {
  /*---------- header ----------*/
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*---------- menu ----------*/
  .menu .content-menu .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: absolute;
    background: rgba(48, 52, 73, 0.95);
    height: auto;
    width: 100%;
    max-width: 450px;
    top: 130px;
    margin-left: 0;
    padding: 15px;
    overflow-y: auto;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
    border: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .menu .content-menu .links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    height: auto !important;
  }
  .menu .content-menu .links li a,
  .menu .content-menu .links li label {
    width: auto;
    display: block;
    padding-left: 15px;
    font-size: 26px;
    height: auto;
  }
  .menu .content-menu .links li .desktop-link {
    display: none;
  }
  .menu .content-menu .links li ul {
    position: static !important;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: height ease 0.35s;
    transition: height ease 0.35s;
  }
  .menu .content-menu .links li ul li {
    margin: 7px 20px;
    width: auto;
  }
  .menu .content-menu .links li ul li a,
  .menu .content-menu .links li ul li label {
    width: 350px;
  }
  .menu .content-menu .links #one-menu:checked ~ ul,
  .menu .content-menu .links #two-menu:checked ~ ul,
  .menu .content-menu .links #three-menu:checked ~ ul {
    -webkit-transition: height ease 0.35s;
    transition: height ease 0.35s;
    max-height: 100vh;
    opacity: 1 !important;
  }
  .menu .content-menu .active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  /*---------- litematica ----------*/
  .litem .info-litematic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
  }
  .litem .info-litematic ul li a {
    font-size: 14px;
  }
  .litem .info-litematic-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
  }
  /*---------- gallery ----------*/
  .gallery-block .gallery .block-img {
    width: 48%;
  }
  .gallery-block .modal-container-main .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    width: 90%;
    height: 80%;
  }
  .gallery-block .modal-container-main .modal-content .content-gallery-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    height: 100%;
    overflow: auto;
  }
  .gallery-block .modal-container-main .modal-content .content-gallery-text p,
  .gallery-block .modal-container-main .modal-content .content-gallery-text a {
    margin: 5px;
    margin-top: 5px;
    font-size: 16px;
    text-transform: none;
    color: #f7f7f7;
  }
  .gallery-block .modal-container-main .modal-content .content-gallery-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    height: 100%;
  }
  .gallery-block .modal-container-main .modal-content .content-gallery-photo .fotorama-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: auto;
    height: auto;
    padding: 15px !important;
  }
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
  .container-link {
    width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*---------- register ----------*/
  .profile-tabs .flex-tabs .panel .profile .me-info-profile {
    padding: 0;
    padding-top: 15px;
    width: 65%;
  }
  .profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line {
    margin-left: 40px;
  }
  .profile-tabs .flex-tabs .panel .profile .me-info-profile-wight .border-line {
    margin-right: 40px;
  }
  .profile-tabs .flex-tabs .panel .profile .profile-help {
    width: 35%;
  }
  .profile-tabs .flex-tabs .panel .profile .me-register .border-line {
    margin-left: 40px;
    margin-right: 40px;
  }
  .profile-tabs .flex-tabs .panel .profile .regulations-block {
    padding-left: 40px;
    padding-right: 40px;
  }
  .profile-tabs .flex-tabs .panel .profile .link-support-profile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-tabs .flex-tabs .panel .faq-block {
    padding-left: 40px;
    padding-right: 40px;
  }
  /*---------- profile ----------*/
  /*---------- metki ----------*/
  .metki {
    display: block;
    width: 100%;
  }
  .metki thead {
    display: none;
  }
  .metki tbody {
    display: block;
    width: 100%;
  }
  .metki tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .metki tbody tr th {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    right: 0;
    text-align: right;
    position: relative;
  }
  .metki tbody tr th::before {
    content: attr(data-label);
    color: #f7f7f7;
    position: absolute;
    left: 0;
    padding-left: 10px;
  }
  .metki tbody tr th input,
  .metki tbody tr th select,
  .metki tbody tr th button,
  .metki tbody tr th span {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    right: 0;
    width: 70%;
    text-align: start;
    border-left: 1px solid #f7f7f7;
  }
  .display-none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  /*---------- body ----------*/
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
  }
  h2 {
    font-size: 26px;
    font-weight: 900;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 550px;
  }
  /*---------- litematica ----------*/
  .litem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  /*---------- profile ----------*/
  .profile-tabs .flex-tabs .panel .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-tabs .flex-tabs .panel .profile .me-info-profile {
    width: 100%;
  }
  .profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line span {
    width: auto;
  }
  .profile-tabs .flex-tabs .panel .profile .profile-help {
    width: 100%;
    padding-top: 10px;
  }
  .profile-tabs .flex-tabs .panel .profile .profile-help a {
    margin-top: 5px;
    padding-left: 45px;
  }
  .profile-tabs .flex-tabs .panel .profile .link-support-profile {
    width: 100%;
    padding: 0 30px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .profile-tabs .flex-tabs .panel .profile .me-register {
    width: 100%;
  }
  .profile-tabs .flex-tabs .panel .border-line {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f750;
  }
  .phone-stat-link-h2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .phone-stat-link-tadles {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  /*---------- menu ----------*/
  .links {
    max-width: 350px;
    padding: 10px;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  .links a,
  .links label {
    width: 320px;
    font-size: 24px;
  }
  .links ul {
    width: 320px;
  }
  .links ul li a,
  .links ul li label {
    width: 300px;
  }
  .active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  /*---------- profile ----------*/
  .border-line {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f750;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 20px;
  }
  .flex-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .link-support-profile {
    padding: 0 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .profile-tabs .flex-tabs .tab {
    width: auto;
  }
  #tab-one:checked ~ .tabs #tab-one-label::before,
  #tab-two:checked ~ .tabs #tab-two-label::before,
  #tab-three:checked ~ .tabs #tab-three-label::before {
    content: none;
  }
  #tab-one:checked ~ .tabs #tab-one-label::after,
  #tab-two:checked ~ .tabs #tab-two-label::after,
  #tab-three:checked ~ .tabs #tab-three-label::after {
    content: none;
  }
  /*---------- metki ----------*/
  .metki tbody tr th input,
  .metki tbody tr th select,
  .metki tbody tr th button {
    width: 60%;
  }
  .accordion-2 .accordion-item {
    width: 100%;
    min-width: auto;
  }
  .accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul .liWar img {
    width: 22px;
    height: 22px;
  }
  .accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul .liWar .ban {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  /*---------- body ----------*/
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 28px;
    font-weight: 900;
  }
  h2 {
    font-size: 22px;
    font-weight: 900;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  /*---------- header-menu-link ----------*/
  .header {
    height: 110px;
  }
  .menu .content-menu .links {
    top: 110px;
  }
  .wrapper-link {
    min-width: auto;
  }
  .wrapper-link .button-link {
    height: 40px;
    width: 42px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper-link .button-link:hover {
    width: auto;
  }
  .wrapper-link .button-link .icon-button img,
  .wrapper-link .button-link .icon-button svg {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  .wrapper-link .button-link span {
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    font-size: 14px;
  }
  /*---------- litematica ----------*/
  .info-litematic ul li {
    text-overflow: ellipsis;
  }
  /*---------- register ----------*/
  .warning-help-1 {
    font-size: 16px;
  }
  .warning-help-2 {
    font-size: 16px;
  }
  .warning-help-2 a:visited {
    font-size: 16px;
  }
  /*---------- profile ----------*/
  .border-line {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f750;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 5px;
  }
  .flex-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .link-support-profile {
    padding: 0 30px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  .profile-tabs .flex-tabs .tab span {
    display: none;
  }
  .profile-tabs .flex-tabs .tab {
    width: 60px;
    height: 60px;
  }
  .profile-tabs .flex-tabs .tab svg {
    margin: auto;
  }
  /*---------- metki ----------*/
  .accordion-2 .accordion-item {
    width: 100%;
    min-width: auto;
  }
  .accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul .liWar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-bottom: 20px;
  }
  .accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul .liWar img {
    display: none;
  }
  .accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul .liWar .ban {
    font-size: 14px;
  }
  /*---------- profile ----------*/
  .profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile-tabs .flex-tabs .panel .profile .profile-help {
    padding: 0;
  }
  .profile-tabs .flex-tabs .panel .profile .regulations-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .profile-tabs .flex-tabs .panel .profile .link-support-profile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .profile-tabs .flex-tabs .panel .faq-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gallery-block .gallery .block-img {
    width: 98%;
  }
}

@media screen and (max-width: 400px) {
  /*---------- body ----------*/
  .container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  /*---------- profile ----------*/
  .me-photo img {
    width: 75%;
    margin: 10px auto;
  }
  .me-info-profile h3 {
    font-size: 16px;
  }
  /*---------- metki ----------*/
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
