/*---------------------------------------- all ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
  line-height: 2;
}

/*---------------------------------------- body ----------------------------------------*/
body {
  /* background: url(../img/bg-light-4869.webp); */
  background: #27292d;
}

.body-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 800px;
  width: 1800px;
  color: #f4f4f4;
  z-index: 100;
}

.warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: auto;
  width: auto;
  background: rgba(0, 0, 0, 0.692);
  z-index: 9999999999999999;
  color: #f4f4f4;
  padding: 5px 20px;
  text-align: center;
}

p {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}

h1 {
  font-size: 34px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 650;
  color: #f4f4f4;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding-left: 20px;
}

h5 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}

h6 {
  font-size: 18px;
}

.container ul {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.container ul li {
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-weight: 600;
}

.container a {
  font-weight: 700;
  text-decoration: none;
}

/*---------------------------------------- header ----------------------------------------*/
.header {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../img/header2.webp) no-repeat center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/*---------------------------------------- header-menu-link ----------------------------------------*/
.wrapper-link {
  width: 1750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
  z-index: 1000;
}

.wrapper-link .button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60px;
  width: 63px;
  float: left;
  margin: 10px;
  overflow: hidden;
  color: #f4f4f4;
  background: radial-gradient(circle, #464646 0%, #656565 100%);
  border: 0.2px solid #464646;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.wrapper-link .button-link .icon-button svg,
.wrapper-link .button-link .icon-button img {
  height: 35px;
  width: 35px;
  margin: 12.5px;
  fill: #f4f4f4;
}

.wrapper-link .button-link:hover {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 25px;
}

.wrapper-link .button-link span {
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 600;
}

/*---------- menu ----------*/
.menu input[type="checkbox"] {
  display: none;
}

.menu .content-menu {
  width: auto;
  height: auto;
}

.menu .content-menu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border: 0.2px solid black;
  z-index: 1000;
}

.menu .content-menu .links li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  list-style: none;
  height: 50px;
  line-height: 50px;
  width: 340px;
  margin-left: 17px;
  margin-right: 17px;
  border-radius: 10px;
  z-index: 1000;
}

.menu .content-menu .links li a,
.menu .content-menu .links li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4f4f4;
  font-size: 26px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  min-width: 220px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  text-decoration: none;
  cursor: pointer;
}

.menu .content-menu .links li a:hover,
.menu .content-menu .links li label:hover {
  border-radius: 10px;
  background: #3a3b3d;
}

.menu .content-menu .links li label {
  display: none;
}

.menu .content-menu .links li ul {
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  visibility: hidden;
  border-radius: 10px;
}

.menu .content-menu .links li ul li {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.menu .content-menu .links li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#toggle {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none;
}

#toggle.active {
  background: rgba(0, 0, 0, 0.7);
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #f4f4f4;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 0 #f4f4f4;
          box-shadow: 0 10px 0 #f4f4f4;
}

#toggle.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  -webkit-box-shadow: 0 0 0 #f4f4f4;
          box-shadow: 0 0 0 #f4f4f4;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #f4f4f4;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#toggle.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

/*---------------------------------------- start ----------------------------------------*/
.start-block ul li span {
  font-style: italic;
}

.start-block ul li a {
  text-decoration: none;
  color: #30679e;
  font-weight: 600;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.start-block ul li a:hover {
  color: #2c5a88a9;
}

.start-block ul li a:visited {
  color: #30679e;
}

.start-block p span {
  font-style: italic;
}

/*---------------------------------------- support ----------------------------------------*/
.support-block ul li span {
  font-weight: 600;
  color: #f4f4f4;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.support-block ul li a {
  font-weight: 600;
  color: #30679e;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.support-block ul li a:hover {
  color: #2c5a88a9;
}

.support-block ul li a:visited {
  color: #30679e;
}

/*---------------------------------------- mods ----------------------------------------*/
.mods-block ul li a {
  color: #30679e;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.mods-block ul li a:visited {
  color: #30679e;
}

.mods-block ul li a:hover {
  color: #2c5a88a9;
}

.mods-block ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url(../img/check-mark.svg) no-repeat center;
  background-size: cover;
}

.mods-block h4 span {
  font-weight: 900;
}

/*---------------------------------------- config-system ----------------------------------------*/
.config-block ul li span {
  font-style: italic;
  font-weight: 500;
}

/*---------------------------------------- maps ----------------------------------------*/
.cd-btn {
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #f4f4f4;
  letter-spacing: 2px;
  margin: 20px;
  padding: 20px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  border: 2px solid #ffba00;
}

.cd-btn:hover {
  background-color: #ffbb009d;
  border-color: #ffba00;
}

/*---------------------------------------- command ----------------------------------------*/
.command-block ul li span {
  font-weight: 800;
  font-style: italic;
}

.command-block h3 {
  padding-left: 20px;
}

/*---------------------------------------- gallery ----------------------------------------*/
.gallery-block .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-block .gallery .gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.gallery-block .gallery .gallery-item .gallery-image {
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.gallery-block .gallery .gallery-item .gallery-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.gallery-block .port {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #27292d;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
  z-index: 2000 !important;
}

.gallery-block .port .row {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);
  z-index: 200000000 !important;
}

.gallery-block .port .row .description {
  width: 50%;
  height: auto;
  padding: 10px;
  padding-top: 50px;
  overflow: auto;
}

.gallery-block .port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gallery-block .close {
  margin: 50px;
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 60px;
  top: 80px;
  opacity: 1;
  z-index: 100004 !important;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*---------------------------------------- resources ----------------------------------------*/
.resourses-block h4 span {
  font-style: italic;
}

.resourses-block .download-files {
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  color: #ffba00;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.resourses-block .download-files:hover {
  color: #ff74fa;
}

.resourses-block .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*---------------------------------------- litematica ----------------------------------------*/
.info-litematic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: auto;
}

.info-litematic ul li {
  font-size: 16px;
}

.info-litematic ul li a {
  font-size: 16px;
  color: #30679e;
  text-transform: none;
  font-weight: 500;
  font-style: italic;
  text-overflow: ellipsis;
}

.info-litematic ul li a:hover {
  color: #2c5a88a9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.info-litematic-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: auto;
}

/*---------------------------------------- market ----------------------------------------*/
/*---------- accordion-2 ----------*/
.accordion-2 {
  max-width: 1500px;
  width: 100%;
}

.accordion-2 .accordion-item {
  background: radial-gradient(circle, #464646 0%, #464646 100%);
  border: 0.1px solid rgba(143, 142, 143, 0.75);
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  min-width: 350px;
}

.accordion-2 .accordion-item .accordion-item-header {
  padding: 8px 48px 8px 16px;
  min-height: 52px;
  line-height: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  color: #f4f4f4;
}

.accordion-2 .accordion-item .accordion-item-header img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.accordion-2 .accordion-item .accordion-item-header::after {
  content: "\002B";
  font-size: 32px;
  position: absolute;
  right: 16px;
  color: #ffba00;
}

.accordion-2 .accordion-item .accordion-item-header.active::after {
  content: "\2212";
  color: #ff74fa;
}

.accordion-2 .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.35s ease-out;
  transition: max-height 0.35s ease-out;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f4f4f4;
  padding: 16px;
  line-height: 24px;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, rgba(143, 142, 143, 0.75), transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(143, 142, 143, 0.75)), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, rgba(143, 142, 143, 0.75), transparent) 1;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content p label {
  color: limegreen;
  cursor: default;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content p span {
  text-decoration: underline;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content .prev-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px !important;
  width: 250px !important;
  margin: 0 auto !important;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content .info-litematic-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.accordion-2 .accordion-item .accordion-item-body .accordion-item-body-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-overflow: ellipsis;
}

/*---------------------------------------- main-container ----------------------------------------*/
.main-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.1);
}

.main-link h6 {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  color: #f4f4f4;
}

.main-link .body-center-container .container-link {
  width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-link .body-center-container .container-link .card {
  position: relative;
  padding: 0;
  height: 450px;
  width: 550px;
  color: #f4f4f4;
  background: #202225;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  overflow: hidden;
}

.main-link .body-center-container .container-link .card .icon {
  position: absolute;
  background: #f4f4f4;
  padding: 8px;
  right: 10px;
  top: 135px;
  width: 110px;
  height: 110px;
  border-radius: 25%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.main-link .body-center-container .container-link .card img {
  width: 100%;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 0;
}

.main-link .body-center-container .container-link .card .player-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0 4px 3px #0002;
          box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}

.main-link .body-center-container .container-link .card .player-header .image {
  width: 100%;
  height: 200px;
  cursor: crosshair;
  overflow: hidden;
}

.main-link .body-center-container .container-link .card .player-header .image:hover img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.main-link .body-center-container .container-link .card .rest {
  padding: 40px 15px 30px 15px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
}

.main-link .body-center-container .container-link .linck-discord {
  height: 450px;
  -webkit-box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
}

.main-link .body-center-container .container-link .linck-discord iframe {
  width: 550px;
  height: 450px;
}

/*---------------------------------------- profile ----------------------------------------*/
.warning-help-1 {
  font-size: 24px;
  color: red;
  font-weight: 600;
  background: transparent;
}

.warning-help-2 {
  font-size: 24px;
  color: black;
  font-weight: 600;
  background: transparent;
}

.warning-help-2 a:visited {
  font-size: 24px;
  color: black;
  font-weight: 600;
  background: transparent;
}

.profile-tabs {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.profile-tabs .state {
  position: absolute;
  left: -10000px;
}

.profile-tabs .flex-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.profile-tabs .flex-tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(61, 61, 61, 0.55);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 150px;
  height: 60px;
}

.profile-tabs .flex-tabs .tab svg {
  width: 30px;
  height: 30px;
  margin: auto 10px;
  fill: #f4f4f4;
}

.profile-tabs .flex-tabs .tab span {
  width: auto;
  height: 30px;
  line-height: 30px;
  margin: auto 10px auto 0;
  fill: #f4f4f4;
}

.profile-tabs .flex-tabs .tab:hover {
  background-color: #b8b8b8;
}

.profile-tabs .flex-tabs .panel {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  min-height: 500px;
  width: 100%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-top: 35px;
}

.profile-tabs .flex-tabs .panel .h3-spam {
  margin: 15px;
  margin-left: 50px;
}

.profile-tabs .flex-tabs .panel .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: 100%;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 75%;
  padding: 30px;
  position: relative;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: auto;
  height: 65px;
  margin-left: 80px;
  margin-bottom: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #f4f4f450;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: 100%;
  height: auto;
  padding: 0;
  margin-left: 70px;
  font-size: 18px;
  font-weight: 750;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line span {
  position: absolute;
  background: transparent;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 70px;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line label {
  position: absolute;
  background: transparent;
  width: 35px;
  height: 35px;
  fill: #f4f4f4;
  margin-top: 12px;
  margin-left: 15px;
  cursor: default;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-1 {
  color: rgba(238, 255, 0, 0.658);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-2 {
  color: rgba(72, 255, 0, 0.616);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-3 {
  color: rgba(255, 28, 28, 0.603);
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line .me-4 {
  color: red;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile .border-line input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f4f4f4;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font-weight: 750;
  font-size: 18px;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile-wight {
  width: 100% !important;
}

.profile-tabs .flex-tabs .panel .profile .me-info-profile-wight .border-line {
  margin-right: 80px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 25%;
  height: auto;
  padding: 30px;
  padding-top: 42px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a {
  color: #f4f4f4;
  margin-top: 10px;
  position: relative;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a label {
  position: absolute;
  height: auto;
  width: 25px;
}

.profile-tabs .flex-tabs .panel .profile .profile-help a label svg {
  width: auto;
  height: auto;
  fill: #f4f4f4;
}

.profile-tabs .flex-tabs .panel .profile .profile-help-display-none {
  display: none;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile {
  height: auto;
  width: 80%;
  padding: 0 30px;
  padding-left: 90px;
  padding-bottom: 50px;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile p {
  height: auto;
  margin-top: 10px;
  width: 100%;
}

.profile-tabs .flex-tabs .panel .profile .link-support-profile p a {
  height: auto;
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  color: #f4f4f4;
}

.profile-tabs .flex-tabs .panel .profile .me-register {
  height: 300px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: transparent;
  width: auto;
  height: 75px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #f4f4f450;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  min-height: 25px;
  height: 100%;
  color: lightgreen;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  padding: 5px 20px;
  font-size: 18px;
  bottom: 0;
  z-index: 2;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input:focus, .profile-tabs .flex-tabs .panel .profile .me-register .border-line input:active,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea:focus,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea:active,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select:focus,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select:active {
  background: rgba(59, 59, 59, 0.623);
  color: lightgreen;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line input option,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea option,
.profile-tabs .flex-tabs .panel .profile .me-register .border-line select option {
  background: rgba(59, 59, 59, 0.623);
  color: #f4f4f4;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line textarea {
  margin: 0;
  min-height: 100px;
  max-height: 100px;
}

.profile-tabs .flex-tabs .panel .profile .me-register .border-line span {
  position: absolute;
  margin: 45px;
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom .border-line {
  min-height: 100px;
  max-height: 100px;
}

.profile-tabs .flex-tabs .panel .profile .me-register-custom .border-line span {
  position: absolute;
  margin: 70px;
  margin-left: 60px;
  color: rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.profile-tabs .flex-tabs .panel .profile .faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.profile-tabs .flex-tabs .panel .profile .regulations-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.profile-tabs .flex-tabs .panel .profile .register-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next {
  color: #f4f4f4;
  margin: 20px auto;
  padding: 20px auto;
  height: 50px;
  width: 300px;
  font-size: 18px;
  background: radial-gradient(circle, #464646 0%, #656565 100%);
  border: 0.2px solid #464646;
  border-radius: 5px;
  outline: none;
}

.profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next:hover, .profile-tabs .flex-tabs .panel .profile .register-block .register-btn-next:visited {
  outline: none;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#tab-one:checked ~ .tabs #tab-one-label::before,
#tab-two:checked ~ .tabs #tab-two-label::before,
#tab-three:checked ~ .tabs #tab-three-label::before {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  content: "";
  height: 20px;
  width: 150px;
  padding: 0;
  margin: 0;
  top: -20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#tab-one:checked ~ .tabs #tab-one-label::after,
#tab-two:checked ~ .tabs #tab-two-label::after,
#tab-three:checked ~ .tabs #tab-three-label::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #3b3b3b;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel {
  display: block;
}

/*---------------------------------------- metki ----------------------------------------*/
.metki {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  position: relative;
}

.metki thead {
  background: rgba(61, 61, 61, 0.55);
  width: 100%;
}

.metki thead tr th {
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #f4f4f4;
  opacity: 1;
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #f4f4f438;
}

.metki tbody tr th {
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #f4f4f4;
  background: transparent;
  vertical-align: middle;
  border: 1px solid #f4f4f438;
}

.metki tbody tr th input,
.metki tbody tr th select,
.metki tbody tr th button {
  color: #f4f4f4;
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 5px;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.x-y-z {
  text-align: right;
}

.metki tbody tr th select option {
  background: #3a3b3d;
}

.metki tbody tr th span {
  padding: 0 8px;
}

.metki tbody tr th button:hover {
  background: rgba(168, 168, 168, 0.589);
}

.header-metki {
  width: 100%;
  height: auto;
  background: rgba(56, 56, 56, 0.75);
  text-align: center;
  padding: 5px;
  border: 1px solid #f4f4f438;
  border-bottom: none;
}
