{% extends "_base.html" %}

{% block content %}
  <script src="https://cdn.tiny.cloud/1/r55dmb7tylbap7uwxto0jlsvcn6z3uy29kieq6ujtxejkzyi/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: 'textarea#editor',
      setup: function (editor) {
        editor.on('init', function (e) {
            editor.setContent(`{{article.content|safe}}`);
        });
      },
      menubar: true,
      skin: 'oxide-dark',
      content_css: 'dark',
      language : 'ru',
      height: 800,
      relative_urls : false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste imagetools wordcount'
      ],
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

      images_upload_handler: function (blobInfo, success, failure) {
        // console.log(success)
        console.log(blobInfo);
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open('POST', '/save_images');
        xhr.onload = function() {
          var json;

          if (xhr.status != 200) {
            failure('HTTP Error: ' + xhr.status);
            return;
          }
          json = JSON.parse(xhr.responseText);

          if (!json || typeof json.location != 'string') {
            failure('Invalid JSON: ' + xhr.responseText);
            return;
          }
          success(json.location);
        };
        formData = new FormData();
        formData.append('file', blobInfo.blob(), blobInfo.filename());
        console.log(formData);
        var image_size = blobInfo.blob().size / 1000;  // image size in kbytes
        var max_size   = 1024                // max size in kbytes
        if( image_size  > max_size ){        
          failure('Image is too large( '+ image_size  + ') ,Maximum image size is:' + max_size + ' kB');
          return;      
        }else{
          xhr.send(formData);
        }
      },
      images_file_types: 'jpg,svg,webp,png'
    });
  </script>
  <div class="container mt-4 mb-4">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8">
      <form action = "/article/edit/{{id_article}}" method='POST'}}>
        <div class="form-group">
          <input class="inputForm" id="title" name = title value="{{article.title}}"></input>
          Категория 
            <select class="selectForm" name="category">
              {% for category in params.categories %}
                <option value="{{category.id}}" {% if article.category == category.id %} selected="selected" {% endif %}>{{category.name_category}}</option>
              {% endfor %}
            </select>
            <label for="visible"  style="word-wrap:break-word; vertical-align:middle;">
              <input style="vertical-align:middle;" name="visible" id="visible" type="checkbox" value="1" {% if article.visible == 1 %} checked {% endif %} /> опубликовать
            </label>
          <textarea id="editor" name = editor></textarea>
          <input type="hidden" id="edit" name="edit" value="1">

        </div>
        <button type="submit" class="btn btn-primary buttonForm">Отправить</button>
      </form>
      </div>
    </div>
  </div>
{% endblock %}