{% extends "_base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/change_password.css" />
{% endblock %}

{% block content %}
   <div class="change-password-block">
    <div class="pas-center">
      <h4 id="mess"></h4>
      <input type="password" name="password" id="password" class="inputpassword">
      <button class="buttonpasworld" id="change_password"> Изменить пароль</button>
    </div>
   </div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script src="/static/js/change_password.js"></script>
{% endblock %}