{% extends "_base.html" %}
{% block content %}
<div class="change_nickname">
    <h2>Смена никнейма</h2>
    <p>
        Для смены никнейма потребуется произвести некоторые простые действия<br><br>

        
        Если вы играете с нелицензионного аккаунта, то сделайте следующие:<br><br>
            <ol>
                <li><p>(Необязательный шаг, нужно выполнять только если вы хотите сохранить вещи) Нужно зайти на сервер<br>
                        и выложить все вещи из инвентаря, включая броню, и эндерчеста в сундук.</p></li>
                <li><p>Сообщить о своем намерении сменить ник в дискорд сервере через <a href='https://discord.com/channels/723912565234728972/791343412372045834/906274332307779584' target='_blank'>тикет</a></p></li>
                <li><p>После ответа в тикете, вам нужно будет создать новую заявку, с новым ником в <a href='https://gmgame.ru/me'>личном кабинете</a></p></li>
                <li><p>Дождаться, подтверждения заявки</li>
            </ol>
        <br><br>
    </p>
    <p>
        Если вы играете с лицензионного аккаунта, то вам нужно убедиться, что вы вводили в игре команду /premium, после чего сменить ник в личном кабинете Mojang
        
    </p>
</div>
{% endblock %}