{% extends "_base.html" %}
{% block content %}
<div class="command-block">
    <h2>Команды</h2>
    <h4>Здесь будут перечислены все команды которые доступны игроку в чате на сервере</h4>
    <h3>* * *</h3>
    <h4>Личные сообщения:</h4>
    <ul>
        <li><span>/msg</span> - сообщение для другого игрока</li>
        <li><span>/w</span> - сообщение для другого игрока</li>
        <li><span>/cmi me </span> - Отправить специальное сообщения всем игрокам</li>
        <li><span>/r </span> - Ответ на последнее сообщение</li>
        <li><span>/seen </span> - Показывает когда игрок последний раз заходил в игру</li>
        <li><span>/afk</span> - Переключение режима afk</li>
        <li><span>/cmi armorstand </span> - Включение редактора стоек для брони</li>
        <li><span>/cmi balance </span> - Показывает баланс валюты</li>
        <li><span>/cmi pay </span> - Перевести валюту другому игроку</li>
        <li><span>/cmi ignore </span> - Игнорирование другого игрока</li>
        <li><span>/cmi mail </span> - Отправка или получение сообщения на почту</li>
        <li><span>/cmi list </span> - Показывает список онлайн игроков так же как и таб</li>
        <li><span>/sit </span> - Сесть на блок</li>
        <li><span>/lay </span> - Лежать</li>
        <li><span>/crawl </span> - Ползти</li>
        <li><span>/skin </span> - Изменить скин</li>
        <li><span>/tps </span> - Показывает tps сервера</li>
    </ul>
    <h3>* * *</h3>
    <!-- <h4>Достижения </h4>

    <ul>
        <li>Можно использовать /aach или /aachievements </li>
        <li><span>/aach book</span> - Выдает книгу со списком всех выполненых достижений</li>
        <li><span>/aach info</span> - Показывает информацию о плагине (Вряле кому то эта информация даст пользу, но
            пусть
            будет)</li>
        <li><span>/aach stats</span> - Показывает процент и количество выполненых достижений из количества доступных
        </li>
        <li><span>/aahh list</span> - Показывает полный список всех достижений</li>
        <li><span>/aach toggle</span> - Включает или выключает отображения о получении достижений другими игроками</li>
        <li><span>/aach top</span> - Показывает информацию лучших авантюристов за все время</li>
        <li><span>/aach month</span> - Показывает информацию лучших авантюристов за месяц</li>
        <li><span>/aach week</span> - Показывает информацию лучших авантюристов за все неделю</li>
        </li>
        <li><span>/aach help</span> - Показывает весь выше перечисленый список команд и их описание</li>
    </ul>
    <h3>* * *</h3> -->
    <!-- <h4>Креативный мир - плоты</h4>
    <ul>
        <li><span>/plot</span> - </li>
        <li><span>/plot</span> - </li>
        <li><span>/plot</span> - </li>
        <li><span>/plot</span> - </li>
        <li><span>/plot flag set</span> - </li>
        <li><span>/plot flag set</span> - </li>
        <li><span>/plot flag set</span> - </li>
    </ul> -->
</div>
{% endblock %}