{% extends "_base.html" %}

{% block css %} 
{{ super() }}
<link rel="stylesheet" href="/static/css/command.css" />
{% endblock %} 

{% block content %}
<div class="command-block">
    <h2>Команды</h2>
    <h4>Здесь будут перечислены все команды которые доступны игроку в чате на сервере (*список не полный)</h4>
    <h4 class="com">* * *</h4>
    <ul>
        <li><span>/msg</span> - сообщение для другого игрока</li>
        <li><span>/w</span> - сообщение для другого игрока</li>
        <li><span>/cmi me </span> - Отправить специальное сообщения всем игрокам</li>
        <li><span>/r </span> - Ответ на последнее сообщение</li>
        <li><span>/seen </span> - Показывает когда игрок последний раз заходил в игру</li>
        <li><span>/afk</span> - Переключение режима afk</li>
        <li><span>/cmi armorstand </span> - Включение редактора стоек для брони</li>
        <li><span>/cmi balance </span> - Показывает баланс валюты</li>
        <li><span>/cmi pay </span> - Перевести валюту другому игроку</li>
        <li><span>/cmi ignore </span> - Игнорирование другого игрока</li>
        <li><span>/cmi mail </span> - Отправка или получение сообщения на почту</li>
        <li><span>/cmi list </span> - Показывает список онлайн игроков так же как и таб</li>
        <li><span>/gsit </span> - Сесть на блок</li>
        <li><span>/lay </span> - Лежать</li>
        <li><span>/crawl </span> - Ползти</li>
        <li><span>/skin </span> - Изменить скин</li>
        <li><span>/tps </span> - Показывает tps сервера</li>
    </ul>
    <h4 class="com">* * *</h4>
</div>
{% endblock %}