{% extends "_base.html" %}
{% block content %}
<h2>Конфигурация сервера</h2>
<ul>
    <li>- </li>
    <li>- </li>
    <li>- </li>
    <li>- </li>
</ul>
<h2>Плагины</h2>
<h4>Плагины - дополнения к серверу, которые предоставляют удобства игрокам.</h4>
<ul>
    <li><span>- AdvancedAchievements</span> - Дополнительные ачивки</li>
    <li><span>- AdvancedBan</span> - Плагин для банов</li>
    <li><span>- BungeeTabListPlus</span> - Таблист с поддержкой банжи</li>
    <li><span>- BungeeTeleportManager</span> - Плагин для телепортации с поддержкой банки</li>
    <li><span>- ChatControlRed</span> - Улучшенный чат и другие возможности для книг</li>
    <li><span>- Chunkmaster</span> - Предгенерация чанков</li>
    <li><span>- CMI</span> - Мульти инструмент, порталы, ванишь, голограммы и многое другое</li>
    <li><span>- FastAsyncWorldEdit (WorldEdit)</span> - Асинхронный WorldEdit </li>
    <li><span>- HeadDatabase</span> - База голов</li>
    <li><span>- JPremium*</span> - Плагин авторизации</li>
    <li><span>- LogBlock</span> - Логирование которое отслеживает изменения блоков</li>
    <li><span>- LuckPerms</span> - Плагин разрешений</li>
    <li><span>- MysqlPlayerDataBridge</span> - Синхронизация инвентарей игроков между серверами</li>
    <li><span>- NoMobGriefing</span> - Управление грифом отдельных мобов</li>
    <li><span>- SkinsRestorer</span> - Скины для не лицензионных игроков</li>
    <li><span>- VillagerMarket</span> - Магазины в игре</li>
</ul>
{% endblock %}