<!-- Этот блок вставить по индентификатору "#1234567890" -->

<div class="faq-block">
  <div class="accordion-2">
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#1.&nbsp;&nbsp;Я подал заявку на сервер, сколько ждать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Рассмотрение заявки происходит в течение суток. В случае положительного решения в личном
            кабинете статус «Заявка на рассмотрении» изменится на «Вы игрок сервера», в случае отказа — «Отказ».
          </p>
        </div>
      </div>
    </div>
  </div>
</div>