<!-- Этот блок вставить по индентификатору "#1234567890" -->

<div class="faq-block">
  <div class="accordion-2">
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#1.&nbsp;&nbsp;Я подал заявку на сервер, сколько ждать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Рассмотрение заявки происходит в течение
            суток. В случае положительного решения в личном кабинете
            статус «Заявка на рассмотрении» изменится на «Вы игрок
            сервера», в случае отказа — «Отказ».
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#2.&nbsp;&nbsp;Почему мне отказали?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Вероятно, Вы не достигли подходящего возраста для присоединения к игрокам сервера — 16
            лет.
            Или же другая предоставленная Вами информация позволила сделать вывод, что Вы не подходите. За разъяснениями
            можно обратиться в дискорд сервера.
            Сообщать неверные данные по возрасту не рекомендуется. В процессе общения правда все равно всплывет, будет
            жаль с Вами расставаться, если Вы уже отстроили половину базы.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#3.&nbsp;&nbsp;С чего начать после принятия заявки на сервер?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Прочитать правила в канале #правила или на сайте
            После этого станут доступны чаты в дискорде, где публикуется важная информацию по серверу, проводятся
            различные обсуждения, принимаются решения.
            В личном кабинете на сайте https://gmgame.ru/me/ указан ip-адрес игрового сервера.
            После подключения к серверу игрок оказывается в Лобби. Лобби представляет собой остров с крепостью, чтобы
            попасть на главный сервер необходимо пройти вперед и зайти в портал с падающими частицами.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#4.&nbsp;&nbsp;Не удается зайти в Лобби, выдаются ошибки, как решить проблему?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Нужно проверить правильность игрового ника в клиенте, совпадает ли он с указанным в
            заявке, проверить интернет-соединение.
            При необходимости связаться в чате дискорда #общий с пользователем @Katriona Podiene или в крайнем случае
            пикайте @Шестеренка.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#5.&nbsp;&nbsp;Попал в Лобби, но при входе в портал на главный сервер выдается сообщение о том, что меня нет
          в вайтлисте.</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Нужно проверить совпадает ли игровой ник с указанным в заявке и связаться в чате
            дискорда #общий с пользователем @Katriona Podiene или в крайнем случае пикайте @Шестеренка.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#6.&nbsp;&nbsp;Я зашел на главный сервер и что дальше?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Оказавшись на спавне, который выглядит как корабль, пришвартованный в порту, в первую
            очередь рекомендуется прочитать книгу на кафедре перед точкой появления. Это сложно и долго, но в будущем
            поможет избежать конфликтов и недоразумений.
            Затем можно спуститься на нижнюю палубу корабля, где в сундуках лежат алмазные незачарованные вещи,
            инструменты и еда.
            Также при попадании на сервер игрок имеет стартовые 50$ (можно увидеть баланс в Tab-меню), за которые у
            продавца по имени Хэдшот можно приобрести первые стартовые Элитры. Хэдшот стоит на верхней палубе у
            штурвала.
            Стартовые элитры доступны для каждого игрока 1 раз и могут быть использованы для добычи запасных в Энде.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#7.&nbsp;&nbsp;Я оделся, прихватил припасы и куда теперь направиться?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Нужно открыть карту <a href="http://map.gmgame.ru/">http://map.gmgame.ru/</a>, поставить
            галку «Территории игроков» справа, и выбрать подходящее Вам и не занятое другими игроками место. Далее можно
            отправиться на выбранную территорию, осмотреть ее и убедиться, что это именно то, что Вы ожидали.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#8.&nbsp;&nbsp;Как отметить выбранную территорию?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> В личном кабинете выбрать пункт «Мои территории» ( <a
              href="https://gmgame.ru/territories">https://gmgame.ru/territories</a> ), ввести название, которое будет
            очевидно ассоциироваться с Вами, задать крайние координаты по осям X и Z таким образом, чтобы получился
            прямоугольник, сохранить. Пройти на карту <a href="http://map.gmgame.ru/">http://map.gmgame.ru/</a> и
            проверить правильность выделения территории, при необходимости поправить координаты.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#9.&nbsp;&nbsp;Я выбрал территорию, купил Элитры, но у меня нет ракет, что делать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Нужно спуститься в Хаб в Основном Незер-мире. Портал в него стоит посередине нижней
            палубы корабля.
            Попав в Хаб можно отправиться за порохом и тростником.
            Порох почти всегда есть на Ферме мобов, она находится на Розовой ветке, 287. Если пороха там не оказалось
            или Вам сразу нужно много, то нужно будет постоять на ферме АФК, предварительно проверив, что там кроме Вас
            никого нет.
            Если там уже стоит другой игрок, то спросите у него в игровом чате (если не отвечает, то в чате дискорда
            #общий), можно ли взять ресурсы.
            Тростник есть на Ферме тростника в Комплексе ферм на Бирюзовой, 202. Тростник есть всегда и его можно
            спокойно брать. Рядом есть верстак, которым можно воспользоваться для крафта ракет.
            У входа на каждую ветку хайперлупа есть кафедра с адресной книгой, и бочка с лодками, которые Вам пригодятся
            для дешевого передвижения по веткам.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#10. &nbsp;&nbsp;Как понять какие фермы заняты, а какие свободны? </p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> На дискорд сервере есть текстовый канал #afk-записи, в нем игроки сервера отписываются,
            когда они занимают или освобождают какую-либо ферму.
            Обязательно отмечайтесь в этом канале, иначе пока Вы стоите на ферме Ваш лут могут унести.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#11.&nbsp;&nbsp; Что прихватить с собой в путешествие к своей территории? Где взять ресурсы для моего
          стартового домика?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Вы приоделись, снарядились, выбрали территорию и теперь можно забежать в Ресурсные миры.
            Наш игровой сервер состоит из Основного мира со всеми тремя измерениями — Овер, Незер и Энд.
            Есть возможность перехода в Ресурсный мир также с тремя измерениями.
            Перейти из одного мира в другой можно только на Спавне через портал на верхней палубе в каюте на корме.
            Портал с зелеными падающими частицами.
            В Ресурсном мире на нулевых координатах установлены порталы в Ресурсный Незер и Ресурсный Энд.
            В сундуках рядом есть кровати. При нахождении в Ресурсном Овере рекомендуется всегда иметь кровать, чтобы
            помочь другим игрокам скипнуть ночь.
            Если отправляетесь в ресурсный Энд, то обязательно поспите в Ресурсном Овере, иначе вы не сможете вернуться
            не умерев.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#12.&nbsp;&nbsp;Я забыл поспать в Ресурсном мире и не могу вернуться из Ресурсного Энда, что делать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span>Есть несколько вариантов решения. Первый — снять снаряжение и убрать его в свой
            Эндерчест, поставить обычный сундук, сложить туда вещи, которые не поместились в Эндерчест, и добытые
            ресурсы, умереть об Эндермена или спрыгнув в Бездну.
            Вы появитесь на нулевых координатах Ресурсного Овера, поспите в нем, зайдите в Энд и заберите свои вещи,
            потом прыгайте в центральный портал.
            Второй — связаться в чате дискорда #общий с игроками @Katriona Podiene или @prestig9110, они помогут Вам
            вернуться, но люди они занятые и это может потребовать некоторого времени.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#13.&nbsp;&nbsp;Можно ли ковырять основной мир?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Можно копаться на своей территории, если Вас не будут смущать стрёмные шахты под базой.
            На чужих базах, нейтральных и общих территориях — нет.
            Ресурсы любого вида можно добывать в Ресурсных мирах, там это можно делать в свое удовольствие, не заботясь
            о том, как это будет выглядеть.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#14. &nbsp;&nbsp;Моя база далеко, как лучше до нее добраться?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Можно долететь на Элитрах, или же посмотреть на карте кто базируется ближе всего к Вашей
            территории и уже имеет свое ответвление из хайперлупа, и воспользоваться его порталом. А затем оттуда уже
            добраться до нужного места.
            Также можно прихватить лодку из хайперлупов, чтобы скомбинировать способы передвижения.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#15. &nbsp;&nbsp;Я на месте, как мне теперь перемещаться по серверу?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Перемещение по серверу происходит через хайперлупы в основном Незер-мире.
            Чтобы попасть в него снова Вам на Вашей территории нужно установить Адский портал.
            Желательно поставить его там, где он у Вас останется навсегда, ну или максимально близко к этому месту по
            координатам X и Z.
            Сообщить эти координаты в чате дискорда #общий с просьбой помочь с хайперлупом. При необходимости обратиться
            к игрокам @prestig9110, @Niksa Tatum, @𝕬𝖚𝖋𝖘𝖊𝖍𝖊𝖗 𝕵𝖊𝖆𝖓 𝕿𝖆𝖙𝖚𝖒 или
            @Шестеренка.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#16. &nbsp;&nbsp;Я немного освоился на территории и хочу заняться облагораживанием своего хайперлупа,
          как это сделать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Как правило к этому времени у Вас уже будет намечено основание ответвления и его
            окончание. Если этого не произошло или есть дополнительные вопросы, то можете обратиться в чате дискорда
            #общий к игроку @Niksa Tatum. Ответвление от главной ветки к Вашей базе должно быть заключено в кожух из
            камня размером 9х9 блоков, нижний блок на 44 высоте, строите кожух Вы сами. Если не справляетесь — можете
            попросить помощи в чате дискорда #общий. На 45 высоте посередине должен быть обычный Лёд, именно он,
            поскольку он в отличие от других видов Льда предотвращает спавн мобов. В остальном дизайн хайперлупа — это
            полёт Вашей фантазии, главное, чтобы он состоял из блоков, исключающих спавн мобов и угрозу жизни Вам и
            другим игрокам.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#17. &nbsp;&nbsp; Я не понял в итоге сервер «Ванильный» или нет?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span>Хороший вопрос. Мы называем его «Ванильный с допущениями».
            На сервере нет плагинов, которые в корне меняют суть игры или добавляющих дополнительные блоки, не входящие
            в состав стандартного майнкрафта, нет плагинов на получение шалкеров или песка с кадавров. Но в тоже время
            есть ряд удобств, помогающих заниматься творчеством и строительством.
            Среди них:
            — наличие магазина (Хэдшот) с базой голов, которые можно использовать в декоре, и инструментами с
            повышенными чарами.
            — возможность использования интерактивных стоек. Можно менять позу стойки, видимость, размер, положение
            через специальное меню (Shift и правая клавиша).
            — отключен гриф блоков Крипером, гриф блоков Визером, перенос блоков Эндерменом в Основном мире (защита от
            уничтожения декоративных строений и ферм). При этом урон по игроку сохранен.
            — отключены молнии и распространение огня в Основном мире (защита строений из горючих материалов и от
            уродующих мир стеклянных покрытий на 255 высоте). Будет включено обратно после обновления на 1.17.
            Все это касается только Основного мира, в Ресурсном все по стандарту.
            — подключен дополнительный креатив мир с плотами для совместного проектирования с другими игроками. Портал в
            него находится на спавне.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#18.&nbsp;&nbsp; Как купить предметы у Хэдшота? Как заработать валюту?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Хэдшот продает свои товары за внутреннюю валюту.
            Получить ее можно сдав ему лазуритовую (0,5$), алмазную (2$), изумрудную руду (4$) или древние обломки (6$).
            Баланс отображается в Tab-меню.
            Деньги можно переводить другому игроку посредством команды /pay [Ник] [Сумма]
            Если у Вас есть лишние деньги, то их можно вложить обратно в руду, например, если вы хороши в поиске
            алмазной руды, но Вам нужен незерит, то Вы можете выкупить у Хэдшота нужный вид руды.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#19.&nbsp;&nbsp; Как купить голову?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Головы купить можно удаленно, с помощью команды /heads, при этом откроется наглядное
            меню с интуитивно понятным интерфейсом.
            Также в категории Игроки сервера можно приобрести голову игроков, находящихся в данный момент онлайн.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#20.&nbsp;&nbsp; Купил предмет с целью получить инструмент с рандомными чарами, он пропал, и я ничего не
          получил, как так?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Шанс выпадения инструмента с предмета — 10%, если Вам повезло получить инструмент, то у
            него могут быть рандомные чары: Прочность от 1 до 5 и Эффективность от 1 до 6 и тд..
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#21.&nbsp;&nbsp; Можно купить шкурки шалкеров у Хэдшота (1 шкурка — 25$).</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Можно купить шкурки шалкеров у Хэдшота (1 шкурка — 25$).
            Или полутать в Ресурсном Энде.
            Лутать в Основном Энде не запрещено, но он почти полностью зачищен.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#22.&nbsp;&nbsp; Поставил стойку, отредактировал и теперь не могу получить к ней доступ (включил
          Невидимость или мешают текстуры другого блока), что делать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Можно воспользоваться командами
            /cmi armorstand last — включит меню управления последней редактируемой стойки
            /cmi armorstand near — включит меню управления ближайшей к Вам стойки
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#23.&nbsp;&nbsp; Построил очень крутой склад, и теперь у меня на территории все тормозит, мало фпс, что
          не так?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> При планировании своих построек нужно понимать, что сущности (Entity), а именно сундуки,
            стойки, пчелы, жители, лодки, вагонетки, рамки, находящиеся в зоне прогрузки Вашим персонажем, нагружают
            сервер и Ваш ПК.
            Сервер скорее всего выдержит, а Ваш ПК не факт, поэтому рекомендуется не увлекаться использованием сущностей
            для Вашей же комфортной игры.
            Также оказывают влияние постоянно работающие редстоун-системы, с ними тоже осторожней.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#24.&nbsp;&nbsp; Можно плодить жителей? Где взять зачарованные книги?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Жителей плодить можно, но в разумных пределах.
            Если Вам нужны зачары или другие игровые предметы из обмена с жителями, то Вы можете воспользоваться
            Торговым центром.
            Он временно находится на Оранжевой, 826. В нем есть жители со всеми видами зачарований и самые основные из
            них доступны по минимальным ценам.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#25.&nbsp;&nbsp; Чем лучше меняться с жителями?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> На сервере есть довольно большая ферма железа (Лаймовая, 59), большая ферма золота
            (Крыша ада, -932 250 293), и просто огроменная ферма золота в Овере (Портал на Крыше ада, 992 140 -39).
            Железные и золотые слитки можно сдать железнякам и священникам.
            Также можно нафармить напрямую изумруды на Ферме рейдов (Бирюзовая, 550).
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#26.&nbsp;&nbsp; Пришел на ферму рейдов, тут дергаются поршни и ничего не понятно, как этим
          пользоваться?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> В первую очередь нужно спуститься на землю через левую сторону, там находится аванпост
            разбойников. Получите Дурное знамение и возвращайтесь на ферму.
            Поршни двигаются так всегда, это нормально. Как правильно пользоваться фермой описано в книге на кафедре.
            Перед уходом с фермы обязательно выпейте молока, чтобы снять Дурное знамение, молоко в сундуке рядом с
            порталом.
            Приведение рейда в ТЦ и на чужие базы карается перманентным баном.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#27. &nbsp;&nbsp; Есть приваты?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Приватов нет и не будет. Приваты - это инструмент, который нужен, когда игроки не могут
            друг с другом договориться и проявляют неуважение к трудам друг друга. На нашем сервере все вопросы решаются
            мирно, а если нет, то виновники конфликта довольно быстро удаляются.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#28. &nbsp;&nbsp; Какие моды можно использовать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Разрешенные на сервере моды размещены на сайте <a
              href="https://gmgame.ru/mods/">https://gmgame.ru/mods/</a>
            Если интересующего Вас мода нет в списке или есть какие-то сомнения, Вы можете обратиться с этим вопросом в
            чате дискорда #общий.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#29. &nbsp;&nbsp; Зашел в Хаб и все лагает, как починить?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Дизайн Хаба и главных хайперлупов включает костры. Если Ваш ПК с этим не справляется, то
            рекомендуется установить пак модов с сайта <a href="https://gmgame.ru/mods/">https://gmgame.ru/mods/</a> и
            отключить в настройках графики Optifine или Sodium анимацию дыма.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#30. &nbsp;&nbsp; Видел переименованные тотемы бессмертия, книги и элитры. Зачем они?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Некоторые игроки сервера используют ресурспак со текстурами, соответствующими скинам
            постоянных игроков сервера.
            Скачать ресурспак можно в текстовом канале дискорда #нужное или на сайте <a
              href="https://gmgame.ru/resources/">https://gmgame.ru/resources/</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#31. &nbsp;&nbsp; Хочу тотем с изображением меня любимого, что делать?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Поиграть на сервере на постоянной основе пару месяцев, а затем обратиться к игроку
            @Niksa#6447 c просьбой сделать такой тотем и добавить его в пак.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#32. &nbsp;&nbsp; Хочу построить свою задумку в Хайперлупах или Хабе, можно?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Нет. Транспортная система сервера планировалась и отстраивалась в режиме выживания много
            месяцев многими игроками. Она не подлежит изменению.
            Единственное, что можно — это воплотить свои фантазии в ответвлении к своей базе. В своем хайперлупе Вы
            можете построить что угодно из блоков, исключающих спавн и не приносящих угрозу Вам и другим игрокам (лава,
            дырки в кожухе и т.д.)
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <p>#33. &nbsp;&nbsp; Хочу построить арт в Энде, как выбрать место?</p>
      </div>
      <div class="accordion-item-body">
        <div class="accordion-item-body-content">
          <p>
            <span>Ответ:</span> Для выбора места под арт необходимо обратиться в чате дискорда #общий к игроку
            prestig9110, он занимается распределением и бронированием мест.
            При бронировании места необходимо сообщить размера арта NxM карт.
            Арты не должны содержать откровенную порнографию, допускается лёгкая эротика. Ну и в целом соответствовать
            общепринятым нормам.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>