{% extends "_base.html" %} {% block content %}
<div class="gallery-block">

    <!-- gallery owerview-->
    <div class="gallery">
        <img id="openModal0001" src="/static/img/gallery/1.jpg" alt="">
        <img id="openModal0002" src="/static/img/gallery/5.jpg" alt="">
        <img id="openModal0003" src="/static/img/gallery/8.jpg" alt="">
        <img id="openModal0004" src="/static/img/gallery/15.jpg" alt="">
        <img id="openModal0005" src="/static/img/gallery/18.jpg" alt="">
        <img id="openModal0006" src="/static/img/gallery/22.jpg" alt="">
        <img id="openModal0007" src="/static/img/gallery/25.jpg" alt="">
        <img id="openModal0008" src="/static/img/gallery/1.jpg" alt="">
        <img id="openModal0009" src="/static/img/gallery/1.jpg" alt="">
        <img id="openModal0010" src="/static/img/gallery/1.jpg" alt="">
    </div>

    <!-- gallery modal owerview-->
    <div class="modal-container-main modalContainer0001" id="modalContainer0001">
        <div class="modal-content">
            <div class="content-gallery-text">
                <p>
                    Основание нашего сервера пришлось на предновогоднее время. Однако праздничная суета не помешала нам
                    достойно подготовиться к празднику, нарядить шикарную ёлочку, обменяться тёплыми памятными
                    подарками, весело покутить в санях и насладиться впечатляющим фейерверком в компании друзей.
                </p>
                <a href="https://www.instagram.com/p/CJqKyfiLOVi/" target="_blank">Открыть публикацию в instagram</a>
            </div>
            <div class="content-gallery-photo">
                <div class="fotorama-block">
                    <div class="fotorama" data-minwidth="auto" data-maxwidth="100%" data-minheight="auto"
                        data-maxheight="auto" data-loop="true" data-transition="slide" data-autoplay="true"
                        data-keyboard="true" data-shuffle="true" data-allowfullscreen="true"
                        data-clicktransition="crossfade">
                        <img src="/static/img/gallery/1.jpg" alt="">
                        <img src="/static/img/gallery/2.jpg" alt="">
                        <img src="/static/img/gallery/3.jpg" alt="">
                        <img src="/static/img/gallery/4.jpg" alt="">
                    </div>
                </div>
            </div>
            <button id="close0001">&#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0002" id="modalContainer0002">
        <div class="modal-content">
            <button id="close0002"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0003" id="modalContainer0003">
        <div class="modal-content">
            <button id="close0003"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0004" id="modalContainer0004">
        <div class="modal-content">
            <button id="close0004"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0005" id="modalContainer0005">
        <div class="modal-content">
            <button id="close0005"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0006" id="modalContainer0006">
        <div class="modal-content">
            <button id="close0006"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0007" id="modalContainer0007">
        <div class="modal-content">
            <button id="close0007"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0008" id="modalContainer0008">
        <div class="modal-content">
            <button id="close0008"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0009" id="modalContainer0009">
        <div class="modal-content">
            <button id="close0009"> &#128473;</button>
        </div>
    </div>
    <div class="modal-container-main modalContainer0010" id="modalContainer0010">
        <div class="modal-content">
            <button id="close0010"> &#128473;</button>
        </div>
    </div>

</div>

{% endblock %} {% block js_scripts %} {{ super() }}
<script src="/static/js/modal-window-open.js"></script>
<script src="/static/js/fotorama.js"></script>
{% endblock %}