{% extends "_base.html" %} {% block content %}
<div class="index-block">
  <div class="word">GmGame</div>
  <div class="overlay"></div>
  <p class="center">
    GMGame — развивающийся строительный minecraft-сервер с элементами лёгкого ролеплея и базовой экономики.
  <p>
  <h4> -
    Сервер функционирует на ядре Paper версии 1.18.1 с плагинами, повышающими комфортность игры и, вместе с тем,
    позволяющими не потерять полуванильный облик игрового процесса.
  </h4>
  <h4> -
    Доступ на сервер осуществляется бесплатно, есть возможность играть с лицензионных/нелицензионных учётных записей
    Java Edition.
  </h4>
  <h4> -
    Игровой мир делится на Основной, Ресурсный и Фермерский миры со всеми тремя измерениями и переходами между ними,
    также доступен Креатив-мир с плотами.
    <ul>
      <li> — Основной мир предназначен для реализации строительных проектов и времяпрепровождения с другими игроками.
      </li>
      <li> — Ресурсный мир предназначен для добычи строительных и прочих материалов.</li>
      <li>— Фермерский мир предназначен для постройки ручных, автоматизированных ферм, торговых центров и прочих
        объектов,
        нагружающих сервер количеством сущностей и редстоуном.</li>
    </ul>
    Перемещение по основному миру происходит посредством системы хайперлупов, вход в дополнительные миры осуществляется
    через портал на Спавне.
  </h4>
  <h4> -
    На нашем сервере по мере возможности поддерживается дружеская атмосфера, токсики и неадекваты оперативно
    локализуются и не задерживаются надолго. В чатах и войсах рекомендовано придерживаться общепринятых норм поведения и
    общения. На игровом сервере запрещено гриферство, воровство и читерство, полный перечень правил размещен в канале
    #правила и личном кабинете на сайте.
  </h4>
</div>
{% endblock %} {% block js_scripts %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
<script src="/static/js/randomGmGame.js"></script>
{% endblock %}