{% extends "_base.html" %}
{% block content %}
<div class="players-block">    
    <p class="header-metki">Список пользователей</p>

    {% for key in usersResult.keys() %}
        <div class="accordion-2">
            <div class="accordion-item">
                {% if loop.index == 1 %}
                    <div class="accordion-item-header active">
                {% else %}
                    <div class="accordion-item-header">
                {% endif %}
                    {% if key == 1 %}
                        <p>Ожидающие</p>
                    {% elif key == 2 %}
                        <p>Принятые</p>
                    {% elif key == 3 %}
                        <p>Отказано</p>
                    {% elif key == 4 %}
                        <p>Забаненные</p>
                    {% elif key == 5 %}
                        <p>Неактивные</p>
                    {% endif %}
                </div>
                {% if loop.index == 1 %}
                    <div class="accordion-item-body" style="max-height: 5000px">
                {% else %}
                    <div class="accordion-item-body">
                {% endif %}
                    <div class="accordion-item-body-content">
                        <table id="metki" class="metki">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Возраст</th>
                                </tr>
                            </thead>
                            <tbody id="metki_tbody">
                                {% for us in usersResult[key] %}
                                    <tr>
                                        <th id="username-{{ us.id }}" data-label=" ">{{ us.username }}</th>
                                        <th data-label=" ">{{ us.age }}</th>
                                        {% if us.status == 1 %}
                                            <th data-label=" "><button id="accept-{{ us.id }}">Принять</button></th>
                                            <th data-label=" "><button id="not_accept-{{ us.id }}">Отказать</button></th>
                                        {% elif us.status == 2 %}
                                            <th data-label=" "><button id="ban-{{ us.id }}">Забанить</button></th>
                                            <th data-label=" "><button id="del_wl-{{ us.id }}">Удалить из ВЛ</button></th>
                                        {% elif us.status == 3 %}
                                            <th data-label=" "><button id="accept-{{ us.id }}">Принять</button></th>
                                        {% elif us.status == 4 %}
                                            <th data-label=" "><button id="unban-{{ us.id }}">Разбанить</button></th>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="/static/js/change_users.js"></script>
{% endblock %}
