{% extends "_base.html" %}
{% block content %}
<div class="players-block">    
    <p>Внимание. Это только управление пользователями на сайте. Никакого влияния на сервер это не оказывает</p>
    <p class="header-metki">Список пользователей</p>
    <table id="metki" class="metki">
        <thead>
            <tr>
                <th>Username</th>
                <th>Возраст</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody id="metki_tbody">
            {% for us in users %}
            <tr>
                <th data-label=" ">{{ us.username }}</th>
                <th data-label=" ">{{ us.age }}</th>
                {% if us.status == 1 %}
                <th data-label=" " style="color:red">Ожидает</th>
                <th data-label=" "><button id="accept-{{ us.id }}">Принять</button></th>
                <th data-label=" "><button id="not_accept-{{ us.id }}">Отказать</button></th>
                {% elif us.status == 2 %}
                <th data-label=" ">Принят</th>
                <th data-label=" "><button id="ban-{{ us.id }}">Забанить</button></th>
                {% elif us.status == 3 %}
                <th data-label=" ">Не принят</th>
                <th data-label=" "><button id="accept-{{ us.id }}">Принять</button></th>
                {% elif us.status == 4 %}
                <th data-label=" ">Забанен</th>
                <th data-label=" "><button id="unban-{{ us.id }}">Разбанить</button></th>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="/static/js/change_users.js"></script>
{% endblock %}