{% extends "_base.html" %}
{% block content %}
<div class="litematica-block">
    <div>
        <div class="accordion-2">
            <div class="accordion-item">
                <div class="accordion-item-header"> Основной хаб </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 101 х 89 х 101 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 162050</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_osnova_hub_all.litematic">&darr;
                                            GMGame_Hyperloop_osnova_hub_all.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_osnova_hub_all.webp"
                                    alt="GMGame_Hyperloop_osnova_hub_all.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header"> Главный Hyperloop </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 72 х 20 х 21 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 11618</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_osnova_cyan.litematic">&darr;
                                            GMGame_Hyperloop_osnova_cyan.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_osnova_lime.litematic">&darr;
                                            GMGame_Hyperloop_osnova_lime.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_osnova_orange.litematic">&darr;
                                            GMGame_Hyperloop_osnova_orange.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_osnova_pink.litematic">&darr;
                                            GMGame_Hyperloop_osnova_pink.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_osnova_orange.webp"
                                    alt="GMGame_Hyperloop_osnova_orange.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header"> Дополнительный Hyperloop</div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 72 х 6 х 7 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 1093</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_dop_128+_cyan.litematic">&darr;
                                            GMGame_Hyperloop_dop_128+_cyan.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_dop_128+_lime.litematic">&darr;
                                            GMGame_Hyperloop_dop_128+_lime.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_dop_128+_orange.litematic">&darr;
                                            GMGame_Hyperloop_dop_128+_orange.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_dop_128+_pink.litematic">&darr;
                                            GMGame_Hyperloop_dop_128+_pink.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_dop_128+_cyan.webp"
                                    alt="GMGame_Hyperloop_dop_128+_cyan.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header"> Окончание главного Hyperloop </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 44 х 20 х 21 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 9252</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_cyan.litematic">&darr;
                                            GMGame_Hyperloop_finish_cyan.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_lime.litematic">&darr;
                                            GMGame_Hyperloop_finish_lime.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_orange.litematic">&darr;
                                            GMGame_Hyperloop_finish_orange.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_pink.litematic">&darr;
                                            GMGame_Hyperloop_finish_pink.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_finish_cyan.webp"
                                    alt="GMGame_Hyperloop_finish_cyan.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header"> Окончание Дополнительного Hyperloop </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 44 х 20 х 21 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 9252</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_cyan.litematic">&darr;
                                            GMGame_Hyperloop_finish_cyan.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_lime.litematic">&darr;
                                            GMGame_Hyperloop_finish_lime.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_orange.litematic">&darr;
                                            GMGame_Hyperloop_finish_orange.litematic</a></li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_finish_pink.litematic">&darr;
                                            GMGame_Hyperloop_finish_pink.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_finish_cyan.webp"
                                    alt="GMGame_Hyperloop_finish_cyan.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header"> Мини хаб 128+ </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <div class="litem">
                            <div class="info-litematic">
                                <h4>Основная информация</h4>
                                <ul>
                                    <li>- Размеры - 21 х 6 х 21 </li>
                                    <li>- Автор - prestig9110</li>
                                    <li>- Количество блоков - 930</li>
                                    <li><a href="#"
                                            download="static/download/.litematic/GMGame_Hyperloop_mini_hub_128+_all.litematic">&darr;
                                            GMGame_Hyperloop_mini_hub_128+_all.litematic</a></li>
                                </ul>
                            </div>
                            <div class="info-litematic-img">
                                <img src="/static/img/litematic/GMGame_Hyperloop_mini_hub_128+_all.webp"
                                    alt="GMGame_Hyperloop_mini_hub_128+_all.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}