{% extends "_base.html" %}
{% block content %}
<h2>Карта сервера</h2>
<h3>На сервере доступно две карты на различных платформах:</h3>
<h4>Карта Overviewer обновляется каждые два часа</h4>
<h4>На карте доступны следующие слои:</h4>
<ul>
    <li>- Верхний мир в дневное/ночное время</li>
    <li>- Верхний фермерский мир в дневное время</li>
    <li>- Креатив мир в дневное время</li>
    <li>- Нижний мир со срезом на высоте 50 и с переключением на «крышу Ада»</li>
    <li>- Мир Края</li>
</ul>
<a href="http://map.gmgame.ru/#/22/64/-34/-4/gmgame%20-%20overworld/over" class="cd-btn cd-btn-1">Открыть карту</a>

<h4>Карта Blue Map обновляется каждые два часа</h4>
<h4>На карте доступны следующие слои:</h4>
<ul>
    <li>- Верхний мир </li>
    <li>- Нижний мир </li>
    <li>- Мир Края</li>
    <li>- Для всех миров доступны дневной/ночной, 2D/3D и Spectator режимы</li>
</ul>
<a href="http://3dmap.gmgame.ru/#over:3:71:-15:44:0:0:0:0:perspective" class="cd-btn cd-btn-2">Открыть карту</a>
{% endblock %}