{% extends "_base.html" %}

{% block css %} 
{{ super() }}
<link rel="stylesheet" href="/static/css/maps.css" />
{% endblock %} 

{% block content %}
<div class="map-block">
    <h2>Карта сервера</h2>
    <h4>На сервере доступно две карты на различных платформах:</h4>
    <h4>Карта Overviewer - обновления карты плавающий, обновление запускается в течении 10 минут после предыдущего обновления. (Статус обновления можно видеть в углу карты)</h4>
    <h4>На карте доступны следующие слои:</h4>
    <ul>
        <li>- GMGame-overworld в дневное/ночное время</li>
        <li>- GMGame-nether со срезом на высоте 50 и с переключением на «крышу Ада»</li>
        <li>- GMGame-the-end</li>
        <li>- Farm-overworld в дневное/ночное время</li>
        <li>- Farm-nether со срезом на высоте 50 и с переключением на «крышу Ада»</li>
        <li>- Farm-the-end</li>
        <li>- SkyBlock-overworld в дневное/ночное время</li>
        <li>- SkyBlock-nether</li>
        <li>- SkyBlock-the-end</li>
        <li>- Ресурсный мир в дневное время</li>
        <li>- Креатив мир в дневное время с возможностью выбора стороны света</li>
    </ul>
    <a href="http://map.gmgame.ru/#/22/64/-34/-4/gmgame%20-%20overworld/over" class="cd-btn">Открыть карту</a>

    <h4>Карта Blue Map обновляется каждый день в 5 утра по МСК</h4>
    <h4>На карте доступны следующие слои:</h4>
    <ul>
        <li>- Верхний мир </li>
        <li>- Нижний мир </li>
        <li>- Мир Края</li>
        <li>- Для всех миров доступны дневной/ночной, 2D/3D и Spectator режимы</li>
    </ul>
    <a href="http://3dmap.gmgame.ru/#over:3:71:-15:44:0:0:0:0:perspective" class="cd-btn">Открыть карту</a>
</div>
{% endblock %}