{% extends "_base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/market.css" />
<link rel="stylesheet" href="/static/css/accordion.css" />
{% endblock %}

{% block content %}
<div class="market-block">
    <h2>Рынок</h2>
    <h4>Житель покупает:</h4>
    <div class="accordion-2">
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Oge/dia_bl.png" alt="none">
                Разные руды
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li><img src="/static/img/market/Oge/lap.png" alt="none">Лазуритовая руда - 0.275$ (х64 - 17.6$)
                        </li>
                        <li><img src="/static/img/market/Oge/dia.png" alt="none">Алмазная руда - 1.1$ (х64 - 70.4$)</li>
                        <li><img src="/static/img/market/Oge/em.png" alt="none">Изумрудная руда - 2.2$ (х64 - 140.8$)
                        </li>
                        <li><img src="/static/img/market/Oge/lap_bl.png" alt="none">Лазуритовая руда - 0.275$ (х64 -
                            17.6$)</li>
                        <li><img src="/static/img/market/Oge/dia_bl.png" alt="none">Алмазная руда - 1.1$ (х64 - 70.4$)
                        </li>
                        <li><img src="/static/img/market/Oge/em_bl.png" alt="none">Изумрудная руда - 2.2$ (х64 - 140.8$)
                        </li>
                        <li><img src="/static/img/market/Oge/Anc.png" alt="none">Древние обломки - 2.75$ (х64 - 176$)
                        </li>
                        <li><img src="/static/img/market/all/Heart_of_the_Sea.png" alt="none">Сердце моря - 27.5$</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h4>Житель продает:</h4>
    <div class="accordion-2">
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Golden_Apple.gif" alt="none">Разные вещи
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li><img src="/static/img/market/all/Head.png" alt="none">Головы - 5-10$ (В асортименте 35000+
                            голов, команда /heads)</li>
                        <li><img src="/static/img/market/Enchanted/Golden_Apple.gif" alt="none">Зачарованное золотое
                            яблоко - 1100$</li>
                        <li><img src="/static/img/market/all/Dragon_Egg.png" alt="none">Яйцо дракона - 6000$</li>
                        <li><img src="/static/img/market/all/Heart_of_the_Sea.png" alt="none">Сердце моря - 25$</li>
                        <li><img src="/static/img/market/all/Budding_Amethyst.png" alt="none">Цветущий аметист - 280$
                            !!! ----- Цена за один блок ----- !!! </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Oge/dia_bl.png" alt="none">Руды
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li><img src="/static/img/market/Oge/lap.png" alt="none">Лазуритовая руда - 0.25$ (х64 - 16$)
                        </li>
                        <li><img src="/static/img/market/Oge/dia.png" alt="none">Алмазная руда - 1$ (х64 - 64$)</li>
                        <li><img src="/static/img/market/Oge/em.png" alt="none">Изумрудная руда - 2$ (х64 - 128$)</li>
                        <li><img src="/static/img/market/Oge/lap_bl.png" alt="none">Лазуритовая руда - 0.25$ (х64 - 16$)
                        </li>
                        <li><img src="/static/img/market/Oge/dia_bl.png" alt="none">Алмазная руда - 1$ (х64 - 64$)</li>
                        <li><img src="/static/img/market/Oge/em_bl.png" alt="none">Изумрудная руда - 2$ (х64 - 128$)
                        </li>
                        <li><img src="/static/img/market/Oge/Anc.png" alt="none">Древние обломки - 2.5$ (х64 - 160$)
                        </li>
                        <li><img src="/static/img/market/all/Heart_of_the_Sea.png" alt="none">Сердце моря - 25$</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Pickaxe.gif" alt="none">Незеритовая
                кирка
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Эффективность 1-6, Починка, Шёлковое касание, Прочность 1-5)</li>
                        <li>- 50$ (Эффективность 1-6, Починка, Удача 1-3, Прочность 1-5) </li>
                        <li>- 150$ (Эффективность 5, Починка, Шёлковое касание, Прочность 4) </li>
                        <li>- 300$ (Эффективность 5, Починка, Удача 4, Прочность 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Axe.gif" alt="Netherite_Axe.gif">Незеритовый
                топор
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Эффективность 1-6, Починка, Шёлковое касание, Прочность 1-5)</li>
                        <li>- 50$ (Эффективность 1-6, Починка, Удача 1-3, Прочность 1-5) </li>
                        <li>- 150$ (Эффективность 5, Починка, Шёлковое касание, Прочность 4) </li>
                        <li>- 300$ (Эффективность 5, Починка, Удача 4, Прочность 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Shovel.gif" alt="Netherite_Shovel.gif">Незеритовая
                лопата
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Эффективность 1-6, Починка, Шёлковое касание, Прочность 1-5)</li>
                        <li>- 50$ (Эффективность 1-6, Починка, Удача 1-3, Прочность 1-5) </li>
                        <li>- 150$ (Эффективность 5, Починка, Шёлковое касание, Прочность 4) </li>
                        <li>- 300$ (Эффективность 5, Починка, Удача 4, Прочность 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Hoe.gif" alt="Netherite_Hoe.gif">Незеритовая
                мотыга
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Эффективность 1-6, Починка, Шёлковое касание, Прочность 1-5) </li>
                        <li>- 50$ (Эффективность 1-6, Починка, Удача 1-3, Прочность 1-5) </li>
                        <li>- 150$ (Эффективность 5, Починка, Шёлковое касание, Прочность 4) </li>
                        <li>- 300$ (Эффективность 5, Починка, Удача 4, Прочность 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Bow.gif" alt="Bow.gif">Лук
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Воспламенение, Починка, Сила 1-6, Откидывание 1-3, Прочность 1-5) </li>
                        <li>- 50$ (Воспламенение, Бесконечность, Сила 1-6, Откидывание 1-3, Прочность 1-5) </li>
                        <li>- 300$ (Воспламенение, Починка, Сила 6, Откидывание 2, Прочность 4) </li>
                        <li>- 300$ (Воспламенение, Бесконечность, Сила 6, Откидывание 2, Прочность 4) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Bow.gif" alt="Bow.gif">Лук
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Починка, Сила 1-6, Откидывание 1-3, Прочность 1-5) </li>
                        <li>- 50$ (Бесконечность, Сила 1-6, Откидывание 1-3, Прочность 1-5) </li>
                        <li>- 300$ (Починка, Сила 6, Откидывание 2, Прочность 4) </li>
                        <li>- 300$ (Бесконечность, Сила 6, Откидывание 2, Прочность 4) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Crossbow.gif" alt="Crossbow.gif">Арбалет
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Починка, Пронзающая стрела 1-4, Быстрая перезарятка 1-4, Прочность 1-5) </li>
                        <li>- 50$ (Починка, Тройной выстрел, Быстрая перезарятка 1-4, Прочность 1-5) </li>
                        <li>- 300$ (Починка, Пронзающая стрела 5, Быстрая перезарятка 4, Прочность 4) </li>
                        <li>- 300$ (Починка, Тройной выстрел, Быстрая перезарятка 4, Прочность 4) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Trident.gif" alt="Trident.gif">Трезубец
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Починка, Тягун 1-4, Прочность 1-5, Пронзатель 1-6) </li>
                        <li>- 50$ (Починка, Верность 1-4, Прочность 1-5, Пронзатель 1-6, Громовержец) </li>
                        <li>- 200$ (Починка, Тягун 3, Прочность 4, Пронзатель 6) </li>
                        <li>- 200$ (Починка, Верность 3, Прочность 4, Пронзатель 6, Громовержец) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Fishing_Rod.gif" alt="Fishing_Rod.gif">Удочка
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li> 50$ (Починка, Приманка 1-4, Прочность 1-6, Везучий рыбак 1-5) </li>
                        <li> 300$ (Починка, Приманка 4, Прочность 4, Везучий рыбак 4) </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Shears.gif" alt="Shears.gif">Ножницы
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Починка, Прочность 1-7) </li>
                        <li>- 300$ (Починка, Прочность 5) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Shield.gif" alt="Shield.gif">Щит
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50$ (Починка, Прочность 1-6) </li>
                        <li>- 300$ (Починка, Прочность 5) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Sword.gif" alt="Netherite_Sword.gif">Незеритовый
                меч
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Небесная
                            кара 5, Отдача 2) </li>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Небесная
                            кара 5) </li>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Острота 5,
                            Отдача 2) </li>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Острота 5)
                        </li>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Бич
                            членистоногих 5, Отдача 2) </li>
                        <li>- 600$ (Починка, Прочность 3, Разящий клинок 3, Добыча 3, Заговор огня, Бич
                            членистоногих 5) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Elytra.gif" alt="none">Элитры
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 50 $ (Починка, Прочность 3) !!! ----- Только один екземпляр на игрока ----- !!! </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Turtle_Shell.gif" alt="Turtle_Shell.gif">Черепаший шлем
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Защита 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Защита 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Защита от снарядов 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Защита от снарядов 4, Прочность 4, Шипы 3)
                        </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Огнеупорность 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Огнеупорность 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Взрывоустойчивость 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Подводник, Подводное дыхание 4, Взрывоустойчивость 4, Прочность 4, Шипы 3)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Helmet.gif" alt="Netherite_Helmet.gif">Незеритовый
                Шлем
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Подводник, Починка, Защита 4, Подводное дыхание 4, Прочность 4) </li>
                        <li>- 600$ (Подводник, Починка, Защита 4, Подводное дыхание 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Подводник, Починка, Защита от снарядов 4, Подводное дыхание 4, Прочность 4)
                        </li>
                        <li>- 600$ (Подводник, Починка, Защита от снарядов 4, Подводное дыхание 4, Прочность 4,
                            Шипы 3) </li>
                        <li>- 600$ (Подводник, Починка, Огнеупорность 4, Подводное дыхание 4, Прочность 4) </li>
                        <li>- 600$ (Подводник, Починка, Огнеупорность 4, Подводное дыхание 4, Прочность 4, Шипы 3)
                        </li>
                        <li>- 600$ (Подводник, Починка, Взрывоустойчивость 4, Подводное дыхание 4, Прочность 4)
                        </li>
                        <li>- 600$ (Подводник, Починка, Взрывоустойчивость 4, Подводное дыхание 4, Прочность 4,
                            Шипы 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Chestplate.gif"
                    alt="Netherite_Chestplate.gif">Незеритовый
                нагрудник
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Починка, Защита 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Защита 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Защита от снарядов 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Защита от снарядов 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Огнеупорность 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Огнеупорность 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Взрывоустойчивость 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Взрывоустойчивость 4, Прочность 4, Шипы 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Leggings.gif" alt="Netherite_Leggings.gif">Незеритовые
                поножи
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Починка, Защита 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Защита 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Защита от снарядов 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Защита от снарядов 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Огнеупорность 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Огнеупорность 4, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Починка, Взрывоустойчивость 4, Прочность 4) </li>
                        <li>- 600$ (Починка, Взрывоустойчивость 4, Прочность 4, Шипы 3) </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                <img src="/static/img/market/Enchanted/Netherite_Boots.gif" alt="Netherite_Boots.gif">Незеритовые
                ботинки
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    <ul>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Защита 4, Скорость души 3,
                            Прочность 4) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Защита 4, Скорость души 3,
                            Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Защита от снарядов 4,
                            Скорость души 3, Прочность 4) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Защита от снарядов 4,
                            Скорость души 3, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Огнеупорность 4, Скорость
                            души 3, Прочность 4) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Огнеупорность 4, Скорость
                            души 3, Прочность 4, Шипы 3) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Взрывоустойчивость 4,
                            Скорость души 3, Прочность 4) </li>
                        <li>- 600$ (Подводная ходьба 3, Невесомость 5, Починка, Взрывоустойчивость 4,
                            Скорость души 3, Прочность 4, Шипы 3) </li>
                    </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script src="/static/js/accordeon.js"></script>
{% endblock %}