{% extends "_base.html" %}
{% block content %}
<div class="me-block">
  {% if not gmg_ok %}
  <p style="color: red">
    Вы не зашли на дискорд сервер, для получения полного функционала,
    пожалуйста, присоединитесь к
    <a href="https://discord.gg/sPR62FDQQz" target="_blank">серверу</a>
  </p>
  {% endif %}

  {% if user_id["status"] == 1 %} {# новый игрок #}
  {% include "_status1.html" %}

  {% elif user_id["status"] == 2 %} {# добавленный игрок #}
  {% include "_status2.html" %}

  {% elif user_id["status"] == 3 %} {# непринятый игрок #}
  {% include "_status3.html" %}

  {% elif user_id["status"] == 4 %} {# забаненный игрок #}
  {% include "_status4.html" %}

  {% else %}
  <div class="profile-tabs">

    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
    <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />

    <div class="tabs flex-tabs">
      <label for="tab-one" id="tab-one-label" class="tab">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 460.8 460.8" xml:space="preserve">
          <g>
            <g>
              <path d="M230.432,0c-65.829,0-119.641,53.812-119.641,119.641s53.812,119.641,119.641,119.641s119.641-53.812,119.641-119.641
			S296.261,0,230.432,0z" />
            </g>
          </g>
          <g>
            <g>
              <path d="M435.755,334.89c-3.135-7.837-7.314-15.151-12.016-21.943c-24.033-35.527-61.126-59.037-102.922-64.784
			c-5.224-0.522-10.971,0.522-15.151,3.657c-21.943,16.196-48.065,24.555-75.233,24.555s-53.29-8.359-75.233-24.555
			c-4.18-3.135-9.927-4.702-15.151-3.657c-41.796,5.747-79.412,29.257-102.922,64.784c-4.702,6.792-8.882,14.629-12.016,21.943
			c-1.567,3.135-1.045,6.792,0.522,9.927c4.18,7.314,9.404,14.629,14.106,20.898c7.314,9.927,15.151,18.808,24.033,27.167
			c7.314,7.314,15.673,14.106,24.033,20.898c41.273,30.825,90.906,47.02,142.106,47.02s100.833-16.196,142.106-47.02
			c8.359-6.269,16.718-13.584,24.033-20.898c8.359-8.359,16.718-17.241,24.033-27.167c5.224-6.792,9.927-13.584,14.106-20.898
			C436.8,341.682,437.322,338.024,435.755,334.89z" />
            </g>
          </g>
        </svg><span>Заявка</span></label>

      <div id="tab-one-panel" class="panel active">
        <div class="profile">
          <div class="me-register">
            <div class="border-line">
              <label>

              </label>
              <input id="login" type="input" name="login" placeholder="" />
              <span>Логин</span>
            </div>
            <div class="border-line">
              <label>

              </label>
              <input id="password" type="input" name="password" placeholder="" />
              <span>Пароль</span>
            </div>
            <div class="border-line">
              <label>

              </label>
              <select name="tupe" id="type">
                <option value="1">Лицензия</option>
                <option value="0">Пиратка</option>
              </select>
              <span>Тип акаунта</span>
            </div>
            <div class="border-line">
              <label>

              </label>
              <input id="age" type="input" name="age" placeholder=" " />
              <span>Возраст</span>
            </div>
          </div>
          <div class="me-register me-register-custom">
            <div class="border-line">
              <label>

              </label>
              <textarea name="from_about" id="from_about" cols="auto" rows="auto"></textarea>
              <span>Откуда узнали о проекте</span>
            </div>
            <div class="border-line">
              <label>

              </label>
              <textarea name="you_about" id="you_about" cols="auto" rows="auto"></textarea>
              <span>Интересы в майнкрафт</span>
            </div>
            <div class="border-line">
              <label>

              </label>
              <textarea name="servers" id="servers" cols="auto" rows="auto"></textarea>
              <span>Прошлые сервера</span>
            </div>
          </div>
          <div class="faq-block">
            <div class="accordion-2">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  <p>faq</p>
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    <p>
                      <label>#1.</label>
                      <br>
                      <span>Вопрос:</span> Я подал заявку на сервер, сколько ждать?<br>
                      <span>Ответ:</span> Рассмотрение заявки происходит в течение суток. В случае положительного
                      решения в личном кабинете статус «Заявка на рассмотрении» изменится на «Вы игрок сервера», в
                      случае отказа — «Отказ».
                    </p>
                    <p>
                      <label>#2.</label>
                      <br>
                      <span>Вопрос:</span> Почему мне отказали? <br>
                      <span>Ответ:</span> Вероятно, Вы не достигли подходящего возраста для присоединения к игрокам
                      сервера — 16 лет.
                      Или же другая предоставленная Вами информация позволила сделать вывод, что Вы не подходите. За
                      разъяснениями можно обратиться в дискорд сервера.
                      Сообщать неверные данные по возрасту не рекомендуется. В процессе общения правда все равно
                      всплывет, будет жаль с Вами расставаться, если Вы уже отстроили половину базы.
                    </p>
                    <p>
                      <label>#3.</label>
                      <br>
                      <span>Вопрос:</span> С чего начать после принятия заявки на сервер? <br>
                      <span>Ответ:</span> Прочитать правила в канале #792059904721944626 и прожать реакцию под ними.
                      После этого станут доступны чаты в дискорде, где публикуется важная информацию по серверу,
                      проводятся различные обсуждения, принимаются решения.
                      В личном кабинете на сайте https://gmgame.ru/me/ указан ip-адрес игрового сервера.
                      После подключения к серверу игрок оказывается в Лобби. Лобби представляет собой остров с
                      крепостью, чтобы попасть на главный сервер необходимо пройти вперед и зайти в портал с падающими
                      частицами.
                    </p>
                    <p>
                      <label>#4.</label>
                      <br>
                      <span>Вопрос:</span> Не удается зайти в Лобби, выдаются ошибки, как решить проблему? <br>
                      <span>Ответ:</span> Нужно проверить правильность игрового ника в клиенте, совпадает ли он с
                      указанным в заявке, проверить интернет-соединение. При необходимости связаться в чате дискорда
                      799754645614493777 с пользователем 274466897070915584.
                    </p>
                    <p>
                      <label>#5.</label>
                      <br>
                      <span>Вопрос:</span> Попал в Лобби, но при входе в портал на главный сервер выдается сообщение о
                      том, что меня нет в вайтлисте.<br>
                      <span>Ответ:</span> Нужно проверить совпадает ли игровой ник с указанным в заявке и связаться в
                      чате дискорда #799754645614493777 с пользователем @274466897070915584.
                    </p>
                    <p>
                      <label>#6.</label>
                      <br>
                      <span>Вопрос:</span> Я зашел на главный сервер и что дальше?<br>
                      <span>Ответ:</span> Оказавшись на спавне, который выглядит как корабль, пришвартованный в порту, в
                      первую очередь рекомендуется прочитать книгу на кафедре перед точкой появления. Это сложно и
                      долго, но в будущем поможет избежать конфликтов и недоразумений.
                      Затем можно спуститься на нижнюю палубу корабля, где в сундуках лежат алмазные незачарованные
                      вещи, инструменты и еда.
                      Также при попадании на сервер игрок имеет стартовые 50$ (можно увидеть баланс в Tab-меню), за
                      которые у продавца по имени Хэдшот можно приобрести первые стартовые Элитры. Хэдшот стоит на
                      верхней палубе у штурвала.
                      Стартовые элитры доступны для каждого игрока 1 раз и могут быть использованы для добычи запасных в
                      Энде.
                    </p>
                    <p>
                      <label>#7.</label>
                      <br>
                      <span>Вопрос:</span> Я оделся, прихватил припасы и куда теперь направиться?<br>
                      <span>Ответ:</span>Нужно открыть карту http://map.gmgame.ru/, поставить галку «Территории игроков»
                      справа, и выбрать подходящее Вам и не занятое другими игроками место. Далее можно отправиться на
                      выбранную территорию, осмотреть ее и убедиться, что это именно то, что Вы ожидали.
                    </p>
                    <p>
                      <label>#8.</label>
                      <br>
                      <span>Вопрос:</span> Как отметить выбранную территорию?<br>
                      <span>Ответ:</span> В личном кабинете выбрать пункт «Мои территории»
                      (https://gmgame.ru/territories), ввести название, которое будет очевидно ассоциироваться с Вами,
                      задать крайние координаты по осям X и Z таким образом, чтобы получился прямоугольник, сохранить.
                      Пройти на карту http://map.gmgame.ru/ и проверить правильность выделения территории, при
                      необходимости поправить координаты.
                    </p>
                    <p>
                      <label>#9.</label>
                      <br>
                      <span>Вопрос:</span> Я выбрал территорию, купил Элитры, но у меня нет ракет, что делать?<br>
                      <span>Ответ:</span> Нужно спуститься в Хаб в Основном Незер-мире. Портал в него стоит посередине
                      нижней палубы корабля.
                      Попав в Хаб можно отправиться за порохом и тростником.
                      Порох почти всегда есть на Ферме мобов, она находится на Розовой ветке, 287. Если пороха там не
                      оказалось или Вам сразу нужно много, то нужно будет постоять на ферме АФК, предварительно
                      проверив, что там кроме Вас никого нет.
                      Если там уже стоит другой игрок, то спросите у него в игровом чате (если не отвечает, то в чате
                      дискорда 799754645614493777, можно ли взять ресурсы.
                      Тростник есть на Ферме тростника в Комплексе ферм на Бирюзовой, 202. Тростник есть всегда и его
                      можно спокойно брать. Рядом есть верстак, которым можно воспользоваться для крафта ракет.
                      У входа на каждую ветку хайперлупа есть кафедра с адресной книгой, и бочка с лодками, которые Вам
                      пригодятся для дешевого передвижения по веткам.
                    </p>
                    <p>
                      <label>#10.</label>
                      <br>
                      <span>Вопрос:</span> Как понять какие фермы заняты, а какие свободны?<br>
                      <span>Ответ:</span> На дискорд сервере есть текстовый канал 801545738219552769, в нем игроки
                      сервера отписываются, когда они занимают или освобождают какую-либо ферму.
                      Обязательно отмечайтесь в этом канале, иначе пока Вы стоите на ферме Ваш лут могут унести.
                    </p>
                    <p>
                      <label></label>
                      <br>
                      <span>Вопрос:</span> <br>
                      <span>Ответ:</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="regulations-block">
            <div class="accordion-2">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  <p>Правила</p>
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    <ul>
                      <li>1. Не ломать чужое.</li>
                      <li>2. Не воровать чужое.</li>
                      <li>3. Не гриферить.</li>
                      <li>4. Не использовать читы.</li>
                      <li>5. Не приводить рейды на территорию других игроков без их согласия.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="register-block">
            <button id="register" class="register-btn-next">
              Отправить заявку
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="/static/js/add_markers.js"></script>
{% endblock %}