{% extends "_base.html" %}

{% block css %} 
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} 

{% block content %}
<div class="mods-block">
    <h2>Сборки модов для игры</h2>
    <h4>В этом разделе размещены два оптимальных варианта сборок, которыми может пользоваться игрок нашего сервера.</h4>
    <h5>По вопросами можно обратиться к нам в Дискорд</h5>
    <h5>Для работы модов потребуется установка Fabric и Fabric API</h5>
    <ul>
        <li><a href="https://fabricmc.net/use/">Fabric</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api">Fabric API</a></li>
    </ul>
    <h4>Теперь мы выбираем одну из сборок:</h4>
    <h5>Первая сборка - это сборка на OptiFine и OptiFabric. Данная сборка менее оптимизированная, но здесь можно включить шейдеры и делать прекрасные скриншоты</h5>
    <ul>
        <li><a href="https://optifine.net/downloads">OptiFine</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/optifabric">OptiFabric</a></li>
    </ul>
    <h5>Вторая сборка на Sodium, Sodium Extra, Better Sodium Video Settings Button, CIT Resewn, Phosphor, Lithium и LambDynamicLights, по желанию Iris Shaders. Данная сборка более оптимизированная чем первая. </h5>
    <ul>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/sodium">Sodium</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/sodium-extra">Sodium Extra</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/better-sodium-video-settings-button">Better Sodium Video Settings Button</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/phosphor">Phosphor</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/lithium">Lithium</a> </li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights">LambDynamicLights</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders">Iris Shaders</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/cit-resewn">CIT Resewn</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/modmenu">Mod Menu</a></li>
    </ul>
    <h4><span>Нужно быть внимательным и не путать файлы сборок!</span></h4>
    <h4>Дополнительные моды:</h4>
    <h5>Здесь будет перечислен список модов, которые подойдут для обеих сборок, выбирайте только то, что вам подходит (описание модов можно посмотреть по ссылке):</h5>
    <h4>Для оптимизации:</h4>
    <ul>
        <li><a href="https://modrinth.com/mod/c2me-fabric">Concurrent Chunk Management Engine</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/enhanced-block-entities">Enhanced Block Entities</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/indium">Indium</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/ferritecore-fabric">FerriteCore</a></li> 
        <li><a href="https://modrinth.com/mod/forcecloseworldloadingscreen">Kennytvs epic force close loading screen</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/krypton">Krypton</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/lazydfu">LazyDFU</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/memoryleakfix">MemoryLeakFix</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/smooth-boot">Smooth Boot</a></li> 
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/dynamic-fps">Dynamic FPS</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fat-experience-orbs">Fat Experience Orb</a></li>
    </ul>       
    <h4>Разное:</h4>  
    <ul>         
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/skin-layers-3d">Skin Layers 3D</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/appleskin">AppleSkin</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/auth-me">Auth Me</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/autoharvest">AutoHarvest</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fabric-autoswitch">AutoSwitch</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/autofish">Autofish</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/better-controls">Better Controls</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/better-ping-display-fabric">Better Ping Display</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/blockmeterfabric">BlockMeter</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/brb">Better Recipe Books</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/architectury-api">Architectury API</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/cloth-config">Cloth Config API</a></li>  
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/chest-tracker">Chest Tracker</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/command-macros">Command Macros</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/giselbaers-durability-viewer">Giselbaer's Durability Viewer</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/easiercrafting">EasierCrafting</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/easiervillagertrading">EasierVillagerTrading</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/eating-animation-fabric">Eating Animation</a></li>
        <li><a href="https://modrinth.com/mod/extrasounds">Extra Sounds</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/extreme-sound-muffler-fabric-official">Extreme sound muffler</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fabrishot">Fabrishot</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/grid">Grid</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/held-item-info">Held Item Info</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/horsestatsvanilla">Horse Stats Vanilla</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-hud-forge">Inventory HUD+</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-profiles-next">Inventory Profiles Next</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller">Item Scroller</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/light-overlay">Light Overlay</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/litematica">Litematica</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/malilib">MaLiLib</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/minihud">MiniHUD</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/more-chat-history">More Chat History</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/nbttooltips">NBTtooltips</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/nofog">NoFog</a></li>
        <li><a href="https://modrinth.com/mod/presence-footsteps">PresenceFootsteps</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/show-me-your-skin">Show Me Your Skin!</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/shulkerboxtooltip">ShulkerBoxTooltip</a></li>
        <li><a href="https://modrinth.com/mod/statssearch">statssearch</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/stendhal">Stendhal</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/torohealth-damage-indicators">ToroHealth Damage Indicators</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo">Tweakeroo</a></li>
        <li><a href="https://modrinth.com/mod/where-is-it">Where Is It</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/wi-zoom">WI Zoom</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/worldedit">WorldEdit</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/worldeditcui-fabric">WorldEdit CUI</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/color-me-outlines">Color Me Outlines</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-minimap">Xaero's Minimap</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-world-map">Xaero's World Map</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/advancedchatcore">AdvancedChatCore</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/advancedchathud">AdvancedChatHUD</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/advancements-enlarger">Advancements Enlarger</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/autoreconnect">AutoReconnect</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/invmove">InvMove</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/invmovecompats">InvMoveCompats</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/sound-physics-remastered">Sound Physics Remastered</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/blur-fabric">Blur</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/boosted-brightness">Boosted Brightness</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/time-to-live">Time To Live</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/falling-leaves-fabric">Falling Leaves</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/wthit">WTHIT</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/pistorder">Pistorder</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/seamless-loading-screen">Seamless Loading Screen</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/bobby">Bobby</a></li>
    </ul>
</div>
{% endblock %}