{% extends "_base.html" %}
{% block content %}
<div class="mods-block">
    <h2>Сборки модов для игры</h2>
    <h4>В этом разделе размещены два оптимальных варианта сборок, которыми может пользоваться игрок нашего сервера.</h4>
    <h5>По вопросами можно обратиться к нам в Дискорд</h5>
    <h5>Для работы модов потребуется установка Fabric и Fabric API</h5>
    <ul>
        <li><a href="https://fabricmc.net/use/">Fabric</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api/files">Fabric API</a></li>
    </ul>
    <h4>Теперь мы выбираем одну из сборок:</h4>
    <h5>Первая сборка - это сборка на OptiFine и OptiFabric. Данная сборка менее оптимизированная, но здесь можно
        включить шейдеры и делать прекрасные скриншоты</h5>
    <ul>
        <li><a href="https://optifine.net/downloads">OptiFine</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/optifabric/files">OptiFabric</a></li>
    </ul>
    <h5>Вторая сборка на Sodium, Sodium Extra, Better Sodium Video Settings Button, Phosphor, Lithium и
        LambDynamicLights, по желанию Iris Shaders. Данная сборка более оптимизированная чем первая.
    </h5>
    <ul>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/sodium/files">Sodium</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/sodium-extra/files">Sodium Extra</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/better-sodium-video-settings-button/files">Better
                Sodium
                Video Settings Button</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/phosphor/files">Phosphor</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/lithium/files">Lithium</a> </li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights/files">LambDynamicLights</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders/files">Iris Shaders</a></li>
    </ul>
    <h4><span>Нужно быть внимательным и не путать файлы сборок!</span></h4>
    <h4>Дополнительные моды:</h4>
    <h5>Здесь будет перечислен список модов, которые подойдут для обеих сборок, выбирайте только то, что вам
        подходит
        (описание модов можно посмотреть по ссылке):</h5>
    <ul>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/modmenu/files">Mod Menu</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/advancements-enlarger/files">Advancements Enlarger</a>
        </li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/afk-attack-fabric/files">AFK Attack</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/appleskin/files">AppleSkin</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/autofish/files">Autofish</a></li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/autoharvest/files">AutoHarvest</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/bounding-box-outline-reloaded/files">Bounding Box
                Outline
                Reloaded</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/better-controls/files">Better Controls</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/blur-fabric/files">Blur </a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/boosted-brightness/files">Boosted Brightness</a></li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/chat-heads/files">Chat Heads</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/giselbaers-durability-viewer/files">Giselbaer's
                Durability
                Viewer</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/dynamic-fps/files">Dynamic FPS</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/easiercrafting/files">EasierCrafting</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/easiervillagertrading/files">EasierVillagerTrading</a>
        </li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/eggtab-fabric/files">Egg Tab</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/time-to-live/files">Time To Live</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fabrishot/files">Fabrishot</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/falling-leaves-fabric/files">Falling Leaves</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/fat-experience-orbs/files">Fat Experience Orbs</a>
        </li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/held-item-info/files">Held Item Info</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/horsestatsvanilla/files">Horse Stats Vanilla</a></li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/hwyla/files">Hwyla</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/wthit/files">WTHIT</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-hud-forge/files">Inventory HUD+</a></li>
        <!-- <li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-profiles/files">Inventory Profiles</a></li> -->
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-profiles-next">Inventory Profiles Next</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/litematica/files">Litematica</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/malilib/files">MaLiLib</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/pistorder/files">Pistorder</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/seamless-loading-screen/files">Seamless Loading
                Screen</a>
        </li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/shulkerboxtooltip/files">ShulkerBoxTooltip</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/tooltipfix/files">ToolTipFix</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo/files">Tweakeroo</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/wi-zoom/files">WI Zoom</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/worldedit/files">WorldEdit</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/worldeditcui-fabric/files">WorldEdit CUI</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-world-map/files">Xaero's World Map</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-minimap/files">Xaero's Minimap</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap/files">VoxelMap</a></li>
    </ul>
</div>
{% endblock %}