{% extends "_base.html" %}
{% block content %}
<div class="territories-block">
  <table class="metki">
    <thead>
      <tr>
        <th>Ник</th>
        <th>Название</th>
        <th>Мир</th>
        <th>Start X</th>
        <th>Start Z</th>
        <th>Stop X</th>
        <th>Stop Z</th>
        <th>Добавить</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody id="metki_tbody">
      {% for marker in markers %}
      <tr id="tr-{{ marker.id }}">
        <th data-label="Ник"><input type="text" placeholder="{{ marker.username }}" name="username"
            id="username-{{ marker.id }}" value="{{ marker.username }}"></th>
        <th data-label="Название">
          <div style="display: inline-block; float: left; width:auto;">
            <input oninput="this.style.width = this.value.length + 'px';" type="text" name="name" id="name-{{ marker.id }}" value="{{ marker.name }}">
          </div>
          <div style="display: inline-block; float:left;">
            {% if marker.world=='gmgame' %}
              <a target="blank" href="https://map.gmgame.ru/#/{{ (marker.xStart+marker.xStop)/2 }}/64/{{ (marker.zStart+marker.zStop)/2 }}/-4/GMGameWorld%20-%20overworld/over">карта</a>
            {% elif marker.world=='farm' %}
              <a target="blank" href="https://map.gmgame.ru/#/{{ (marker.xStart+marker.xStop)/2 }}/64/{{ (marker.zStart+marker.zStop)/2 }}/-4/FarmWorld%20-%20overworld/farm">карта</a>
            {% endif %}
          </div>
        </th>
        <th data-label="Мир">
          <select name="world" id="world-{{ marker.id }}">
            <option value="gmgame" {% if marker.world=='gmgame' %} selected="selected" {% endif %}>Основной</option>
            <option value="farm" {% if marker.world=='farm' %} selected="selected" {% endif %}>Фермерский</option>
          </select>
        </th>
        <th data-label="Start X"><input class="x-y-z" type="text" placeholder="{{ marker.xStart }}" name="xStart"
            id="xStart-{{ marker.id }}" value="{{ marker.xStart }}"></th>
        <th data-label="Start Z"><input class="x-y-z" type="text" placeholder="{{ marker.zStart }}" name="zStart"
            id="zStart-{{ marker.id }}" value="{{ marker.zStart }}"></th>
        <th data-label="Stop X"><input class="x-y-z" type="text" placeholder="{{ marker.xStop }}" name="xStop"
            id="xStop-{{ marker.id }}" value="{{ marker.xStop }}"></th>
        <th data-label="Stop Z"><input class="x-y-z" type="text" placeholder="{{ marker.zStop }}" name="zStop"
            id="zStop-{{ marker.id }}" value="{{ marker.zStop }}"></th>
        <th data-label="Добавить"><button id="edit-{{ marker.id }}">Изменить</button></th>
        <th data-label="Удалить"><button id="del-{{ marker.id }}">Удалить</button></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="/static/js/add_territories.js"></script>
{% endblock %}