{% extends "_base.html" %}
{% block meta %}
{{ super() }}
{% if opUser %}
<meta id="opUser" data-name="opUser" data-other="opUser">
{% endif %}
{% endblock %}
{% block content %}
<div class="markers-block">
  <h4 class="header-metki">Все метки</h4>
  <div id="add_marker_res"></div>
  <input type="hidden" name="allmarkers" value="1">
  <table id="metki" class="metki">
    <thead>
      <tr>
        <th>Мир</th>
        <th>Расположение</th>
        <th>Имя</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Описание</th>
        <th>Добавить</th>
        <th>Удалить</th>
        <th>Никнейм</th>
      </tr>
    </thead>
    <tbody id="metki_tbody">
      {% for marker in markers %}
      <tr id="tr-{{ marker.id }}">
        <th data-label="Мир">
          <select name="server" id="server-{{ marker.id }}">
            <option value="gmgame" {% if marker.server=='gmgame' %} selected="selected" {% endif %}>Основной мир
            </option>
            <option value="farm" {% if marker.server=='farm' %} selected="selected" {% endif %}>Фермерский мир</option>
          </select>
        </th>
        <th data-label="Расположение">
          <select name="id_type" id="id_type-{{ marker.id }}">
            <option value="basePlayers" {% if marker.id_type=='basePlayers' %} selected="selected" {% endif %}>Базыи
              гроков - over</option>
            <option value="city" {% if marker.id_type=='city' %} selected="selected" {% endif %}>Города - over</option>
            <option value="shopping_centers" {% if marker.id_type=='shopping_centers' %} selected="selected" {% endif
              %}>
              Торговые центры - over</option>
            <option value="turquoise" {% if marker.id_type=='turquoise' %} selected="selected" {% endif %}>Бирюзовая -
              nether</option>
            <option value="orange" {% if marker.id_type=='orange' %} selected="selected" {% endif %}>Оранжевая - nether
            </option>
            <option value="lime" {% if marker.id_type=='lime' %} selected="selected" {% endif %}>Лаймовая - nether
            </option>
            <option value="pink" {% if marker.id_type=='pink' %} selected="selected" {% endif %}>Розовая - nether
            </option>
            <option value="farm" {% if marker.id_type=='farm' %} selected="selected" {% endif %}>Фермы - nether</option>
            <option value="end_portals" {% if marker.id_type=='end_portals' %} selected="selected" {% endif %}>Энд
              порталы
              - nether</option>
            <option value="pixel_arts" {% if marker.id_type=='pixel_arts' %} selected="selected" {% endif %}>Пиксель
              арты
              - end</option>
          </select>
        </th>
        <th data-label="Имя"><input type="text" placeholder="{{ marker.name }}" name="name" id="name-{{ marker.id }}"
            value="{{ marker.name }}"></th>
        <th data-label="X"><input class="x-y-z" type="text" placeholder="{{ marker.x }}" name="x" id="x-{{ marker.id }}"
            value="{{ marker.x }}"></th>
        <th data-label="Y"><input class="x-y-z" type="text" placeholder="{{ marker.y }}" name="y" id="y-{{ marker.id }}"
            value="{{ marker.y }}"></th>
        <th data-label="Z"><input class="x-y-z" type="text" placeholder="{{ marker.z }}" name="z" id="z-{{ marker.id }}"
            value="{{ marker.z }}"></th>
        <th data-label="Описание"><input type="text" placeholder="{{ marker.description }}" name="description"
            id="description-{{ marker.id }}" {% if marker.description %} value="{{ marker.description }}" {% endif %}>
        </th>
        <th data-label="Добавить"><button id="edit-{{ marker.id }}">Изменить</button></th>
        <th data-label="Удалить"><button id="del-{{ marker.id }}">Удалить</button></th>
        <th data-label="Игрок"><span>{{ marker.username }}</span></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="/static/js/add_markers.js"></script>
{% endblock %}