<!-- Этот блок вставить по индентификатору "#0987654321" -->

<div class="accordion-2">
  <div class="accordion-item">
    <div class="accordion-item-header">
      <p>Правила</p>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <ul>
          <li>1. В чатах дискорда и в игровом чате рекомендуется придерживаться общепринятых норм поведения и общения.
            Запрещено оскорбление других игроков.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span> Мут. Сроки зависят от оснований и тяжести
            оскорблений или неадекватного поведения. Предусмотрено увеличение сроков мута за рецедив вплоть до
            перманентного бана.</li>
          <li>2. Запрещено гриферство.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Перманент </li>
          <li>3. Запрещено воровать, брать чужое без спроса.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Бан от 2 до 14 дней в зависимости от объемов при условии принесения публичных извинений и возврата
            всего объема украденного. В противном случае бан перманент. </li>
          <li>4. Запрещено играть нечестно, использовать читы, x-ray, дюп, ломать бэдрок и т.д.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>В случае добычи руд — бан от 4 до 21 дня в зависимости от тяжести ситуации и при условии явки с
            повинной, сдачи всего добытого объема ресурсов, удаления вспомогательных средств, текстурпаков или читов. В
            противном случае бан перманент, для других видов нарушений помимо добычи руд — бан перманент. </li>
          <li>5. Запрещено занимать чужие территории, отмеченные на онлайн-карте. От занятой территории необходимо
            отступить не менее 250 блоков. Ваша территория должна иметь разумный размер, который Вы точно застроите,
            жадность не приветствуется.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Предупреждение, 7 дней на исправление, в противном случае бан на 14 дней. </li>
          <li>6. Запрещено ПвП/PvP/убийства других игроков.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Бан от 7 до 14 дней в зависимости от нанесенного материального и морального урона убитому игроку.
          </li>
          <li>7. Запрещено вносить изменения в общие пространства. Общими пространствами являются зона спавна, хаб и
            ветки хайперлупов в аду, центральный остров в энде, торговый центр, комплекс ферм и другие общественные
            фермы.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Бан от 1 дня до перманента в зависимости от объемов повреждения и того сообщил ли игрок о поломке.
            Легкие изменения (пара-тройка декоративных блоков) при явке с повинной могут повлечь за собой предупреждение
            и самостоятельный ремонт без бана. </li>
          <li>8. Запрещено копать тоннели с целью добычи ресурсов за пределами выбранной Вами территории, оставлять
            недорубленные деревья, кратеры от взрывов ТНТ. Для добычи ресурсов необходимо использовать РЕСУРСНЫЕ миры.
          </li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span>Бан от 2 до 14 дней в зависимости от объемов повреждений, плюс самостоятельное исправление
            повреждений (замуровывание тоннелей, высадка леса и т.д.) </li>
          <li>9. Запрещено приводить рейды на территории других игроков и в Торговый центр. Пользуйтесь ведром с
            молоком, чтобы снять проклятие.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span> Бан от 7 дней до перманента в зависимости от нанесенного урона жителям на объекте. </li>
          <li>10. Не рекомендуется плодить неразумное количество жителей, строить большие фермы животных, фермы с
            животными в одном блоке, сложные и нагружающие ОСНОВНОЙ мир фермы. Для этого предназначен Торговый центр и
            ФЕРМЕРСКИЙ мир.</li>
          <li class="liWar"> <img src="/static/img/next.svg" alt="none"> <span class="ban">Наказание:&nbsp;&nbsp;
            </span> Предупреждение и 7 дней на разбор/убийство чрезмерно нагружающих сервер структур, по истечению срока
            снос силами администрации. Бан от 7 дней с увеличением на 7 дней за каждый факт рецедива. </li>
          <li>11. Вайтлист: игрок удаляется из вайтлиста:
            — если он нарушил правила и был забанен;
            — если он отсутствует на игровом сервере более 2 месяцев без предупреждения;
            — если он оставил заявку и в течение двух недель не зашёл на сервер.</li>
        </ul>
      </div>
    </div>
  </div>
</div>