{% extends "_base.html" %}
{% block content %}
    <h2>Ресурс пак на тотемы и элитры</h2>
    <h4>Этот текстур пак был создан игроками нашего сервера для всех (<span>Создатели: Niksa#6447, Kerubifi#0356,
        VessAy#0533</span>)</h4>
    <h5>Текстур пак будет работать только с Optifine</h5>
    <h5>Для этого нужно переименовать предметы на наковальне в соответствующее название</h5>
    <a href="#" class="download-files" download="/static/download/Totem-Elytra-1.17.6.zip"> &#187&#187&#187 Скачать
    текстур пак &#171&#171&#171
    </a>
    <div class="content">
    <div class="Elitra">
        <h3>Элитры</h3>
        <div class="accordion-2">
        <div class="accordion-item">
            <div class="accordion-item-header">angel</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/angel.webp" alt="angel-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">archangel</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/archangel.webp" alt="archangel-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">avatar</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/avatar.webp" alt="avatar-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">bee</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/bee.webp" alt="bee-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">cosmos</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/cosmos.webp" alt="cosmos-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">crimson</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/crimson.webp" alt="crimson-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">davinci</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/davinci.webp" alt="davinci-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">demon</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/demon.webp" alt="demon-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">dragon</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/dragon.webp" alt="dragon-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">dragonfly</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/dragonfly.webp" alt="dragonfly-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">dreamtime</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/dreamtime.webp" alt="dreamtime-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">eagle</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/eagle.webp" alt="eagle-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">elysium</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/elysium.webp" alt="elysium-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">evessay</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/evessay.webp" alt="evessay-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">fairy</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/fairy.webp" alt="fairy-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">fried_wings</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/fried_wings.webp" alt="fried_wings-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">golden_beetle</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/golden_beetle.webp"
                alt="golden_beetle-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">green_beetle</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/green_beetle.webp" alt="green_beetle-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">green_dragon</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/green_dragon.webp" alt="green_dragon-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">inferno</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/inferno.webp" alt="inferno-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">macaw</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/macaw.webp" alt="macaw-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">mercy</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/mercy.webp" alt="mercy-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">mercyinferno</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/mercyinferno.webp" alt="mercyinferno-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">mercysapphire</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/mercysapphire.webp"
                alt="mercysapphire-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">neonblue</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/neonblue.webp" alt="neonblue-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">nova</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/nova.webp" alt="nova-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">phoenix</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/phoenix.webp" alt="phoenix-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">priest</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/priest.webp" alt="priest-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">prime</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/prime.webp" alt="prime-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">red_dragon</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/red_dragon.webp" alt="red_dragon-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">solar</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/solar.webp" alt="solar-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">sunset</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/sunset.webp" alt="sunset-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">test</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/test.webp" alt="test-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">warped</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Elytra/warped.webp" alt="warped-img">
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="Totem">
        <h3>Тотемы</h3>
        <div class="accordion-2">
        <div class="accordion-item">
            <div class="accordion-item-header">Blackirita</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Blackirita.webp" alt="Blackirita-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">Dalandis</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Dalandis.webp" alt="Dalandis-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">dunno59</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/dunno59.webp" alt="dunno59-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">dunno69</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/dunno69.webp" alt="dunno69-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">Kerubifi</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Kerubifi.webp" alt="Kerubifi-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">KIPO4</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/KIPO4.webp" alt="KIPO4-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">Matychka</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Matychka.webp" alt="Matychka-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">Niksette</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Niksette.webp" alt="Niksette-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">Pr0sTiK</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/Pr0sTiK.webp" alt="Pr0sTiK-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">prestig9110</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/prestig9110.webp" alt="prestig9110-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">SoftPanda3</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/SoftPanda3.webp" alt="SoftPanda3-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">VessAy</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/VessAy.webp" alt="VessAy-img">
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="Statuia">
        <h3>Статуи</h3>
        <div class="accordion-2">
        <div class="accordion-item">
            <div class="accordion-item-header">lorem</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/lorem.webp" alt="lorem-img">
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">lorem</div>
            <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <img class="prev-img" src="/static/img/resources/Totem/lorem.webp" alt="lorem-img">
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}