{% extends "_base.html" %}

{% block css %} 
{{ super() }}
<link rel="stylesheet" href="/static/css/resources.css" />
<link rel="stylesheet" href="/static/css/accordion.css" />
{% endblock %} 

{% block content %}
<div class="resourses-block">
    <h2>Ресурс пак на тотемы и элитры</h2>
    <h4>Этот текстур пак был создан игроками нашего сервера для всех (<span>Создатели: Niksa#6447, Kerubifi#0356, VessAy#0533</span>)</h4>
    <h5>Для этого нужно переименовать предметы на наковальне в соответствующее название</h5>
    <div class="content">
        <div class="Elytra">
            <h3>Элитры</h3>
            <div class="accordion-2">
                <div class="accordion-item">
                    <div class="accordion-item-header">warped</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/warped.png" alt="warped-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">test</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/test.png" alt="test-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">sunset</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/sunset.png" alt="sunset-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">solar</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/solar.png" alt="solar-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">red_dragon</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/red_dragon.png"
                                alt="red_dragon-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">prime</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/prime.png" alt="prime-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">priest</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/priest.png" alt="priest-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">phoenix</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/phoenix.png" alt="phoenix-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">nova</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/nova.png" alt="nova-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">neonblue</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/neonblue.png" alt="neonblue-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">mercy_sapphire</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/mercy_sapphire.png"
                                alt="mercy_sapphire-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">mercy_inferno</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/mercy_inferno.png"
                                alt="mercy_inferno-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">mercy_st</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/mercy_st.png" alt="mercy_st-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">macaw</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/macaw.png" alt="macaw-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">underworld</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/underworld.png"
                                alt="underworld-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">green_dragon</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/green_dragon.png"
                                alt="green_dragon-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">green_beetle</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/green_beetle.png"
                                alt="green_beetle-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">golden_beetle</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/golden_beetle.png"
                                alt="golden_beetle-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">fried_wings</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/fried_wings.png"
                                alt="fried_wings-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">fairy</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/fairy.png" alt="fairy-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">evessay</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/evessay.png" alt="evessay-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">elysium</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/elysium.png" alt="elysium-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">eagle</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/eagle.png" alt="eagle-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dreamtime</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/dreamtime.png" alt="dreamtime-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dragonfly</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/dragonfly.png" alt="dragonfly-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dragon_st</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/dragon_st.png" alt="dragon_st-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">demon</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/demon.png" alt="demon-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">davinci</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/davinci.png" alt="davinci-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">crimson</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/crimson.png" alt="crimson-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">cosmos</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/cosmos.png" alt="cosmos-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">pcholka</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/pcholka.png" alt="pcholka-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">avatar</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/avatar.png" alt="avatar-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">archangel</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/archangel.png" alt="archangel-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">angel_st</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <img class="prev-img" src="/static/img/resources/Elytra/angel_st.png" alt="angel_st-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Totem">
            <h3>Тотемы</h3>
            <div class="accordion-2">
                <div class="accordion-item">
                    <div class="accordion-item-header">BaXy</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- BaXy</li>
                                <li>- Бакси</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/BaXy.png" alt="BaXy-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Blackirite</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Blackirite</li>
                                <li>- Срань господня</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Blackirite.png" alt="Blackirite-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Blackirita</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Blackirita</li>
                                <li>- Блэки</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Blackirita.png" alt="Blackirita-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">BlackPirat</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- BlackPirat</li>
                                <li>- Пиратик</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/BlackPirat.png" alt="BlackPirat-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Dalandis</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Dalandis</li>
                                <li>- Даландис</li>
                                <li>- Шведская стюардесса</li>
                                <li>- Шальная императрица</li>
                                <li>- Фея твоих снов</li>
                                <li>- Директор</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Dalandis.png" alt="Dalandis-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dunno59</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- dunno59</li>
                                <li>- Дунно</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/dunno59.png" alt="dunno59-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dunno59c</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- dunno59c</li>
                                <li>- Дунно Короткобибый</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/dunno59c.png" alt="dunno59c-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dunno69</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- dunno69</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/dunno69.png" alt="dunno69-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Hazquard</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Hazquard</li>
                                <li>- Хаз</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Hazquard.png" alt="Hazquard-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Felgur_Tatum</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Felgur_Tatum</li>
                                <li>- Felgur</li>
                                <li>- Феля</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Felgur_Tatum.png"
                                alt="Felgur_Tatum-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Kerubifi</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Kerubifi</li>
                                <li>- Керубифи</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Kerubifi.png" alt="Kerubifi-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Krendilek37</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Krendilek37</li>
                                <li>- Krendilek</li>
                                <li>- Крендилек</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Krendilek37.png"
                                alt="Krendilek37-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">KIPO4</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- KIPO4</li>
                                <li>- Кипа</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/KIPO4.png" alt="KIPO4-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">kurlykepty</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- kurlykepty</li>
                                <li>- Kurlyk</li>
                                <li>- Курлык</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/kurlykepty.png" alt="kurlykepty-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Li_Ora</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Li_Ora</li>
                                <li>- Лиора</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Li_Ora.png" alt="Li_Ora-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Matychka</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Matychka</li>
                                <li>- Матюшка</li>
                                <li>- Матюша</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Matychka.png" alt="Matychka-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Mr_Green25</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Mr_Green25</li>
                                <li>- Мистер Грин</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Mr_Green25.png" alt="Mr_Green25-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Niksette</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Niksette</li>
                                <li>- Niksa</li>
                                <li>- Никса</li>
                                <li>- Никс</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Niksette.png" alt="Niksette-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Pr0sTiK</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Pr0sTiK</li>
                                <li>- Prostik</li>
                                <li>- Простик</li>
                                <li>- Жаник</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Pr0sTiK.png" alt="Pr0sTiK-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">prestig9110</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- prestig9110</li>
                                <li>- Престиж</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/prestig9110.png"
                                alt="prestig9110-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Sefaa</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Sefaa</li>
                                <li>- Лёва</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Sefaa.png" alt="Sefaa-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">SoftPanda3</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- SoftPanda3</li>
                                <li>- SoftPanda</li>
                                <li>- Панда</li>
                                <li>- Пандочка</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/SoftPanda3.png" alt="SoftPanda3-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Steinyasha</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Steinyasha</li>
                                <li>- Stein</li>
                                <li>- Штейн</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/Steinyasha.png" alt="Steinyasha-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">VessAy</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- VessAy</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/VessAy.png" alt="VessAy-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">VessAyR</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- VessAyR</li>
                                <li>- Грэг</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/VessAyR.png" alt="VessAyR-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">WiCry</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- WiCry</li>
                                <li>- Вай</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Totem/WiCry.png" alt="WiCry-img">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="Statuia">
            <h3>Статуи</h3>
            <div class="accordion-2">
                <div class="accordion-item">
                    <div class="accordion-item-header">BaXy</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- BaXy</li>
                                <li>- Бакси</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/BaXy.png" alt="BaXy-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Blackirite</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Blackirite</li>
                                <li>- Срань господня</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Blackirite.png" alt="Blackirite-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">BlackPirat</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- BlackPirat</li>
                                <li>- Пиратик</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/BlackPirat.png" alt="BlackPirat-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Dalandis</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Dalandis</li>
                                <li>- Даландис</li>
                                <li>- Шведская стюардесса</li>
                                <li>- Шальная императрица</li>
                                <li>- Фея твоих снов</li>
                                <li>- Директор</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Dalandis.png" alt="Dalandis-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dunno59</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- dunno59</li>
                                <li>- Дунно</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/dunno59.png" alt="dunno59-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">dunno59c</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- dunno59c</li>
                                <li>- Дунно Короткобибый</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/dunno59c.png" alt="dunno59c-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Hazquard</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Hazquard</li>
                                <li>- Хаз</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Hazquard.png" alt="Hazquard-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Kerubifi</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Kerubifi</li>
                                <li>- Керубифи</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Kerubifi.png" alt="Kerubifi-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">KIPO4</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- KIPO4</li>
                                <li>- Кипа</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/KIPO4.png" alt="KIPO4-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">kurlykepty</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- kurlykepty</li>
                                <li>- Kurlyk</li>
                                <li>- Курлык</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/kurlykepty.png" alt="kurlykepty-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Li_Ora</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Li_Ora</li>
                                <li>- Лиора</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Li_Ora.png" alt="Li_Ora-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Matychka</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Matychka</li>
                                <li>- Матюшка</li>
                                <li>- Матюша</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Matychka.png" alt="Matychka-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Mr_Green25</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Mr_Green25</li>
                                <li>- Мистер Грин</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Mr_Green25.png" alt="Mr_Green25-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Niksette</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Niksette</li>
                                <li>- Niksa</li>
                                <li>- Никса</li>
                                <li>- Никс</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Niksette.png" alt="Niksette-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">Pr0sTiK</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- Pr0sTiK</li>
                                <li>- Prostik</li>
                                <li>- Простик</li>
                                <li>- Жаник</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/Pr0sTiK.png" alt="Pr0sTiK-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">prestig9110</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- prestig9110</li>
                                <li>- Престиж</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/prestig9110.png"
                                alt="prestig9110-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">SoftPanda3</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- SoftPanda3</li>
                                <li>- SoftPanda</li>
                                <li>- Панда</li>
                                <li>- Пандочка</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/SoftPanda3.png" alt="SoftPanda3-img">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">VessAyR</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <ul>
                                <li>- VessAyR</li>
                                <li>- Грэг</li>
                            </ul>
                            <img class="prev-img" src="/static/img/resources/Body/VessAyR.png" alt="VessAyR-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}    
<script src="/static/js/accordeon.js"></script>
{% endblock %}