{% extends "_base.html" %}
{% block content %}
<div class="start-block">
    <h2>Как начать</h2>
    <h4>Для получения доступа на игровой сервер нужно:</h4>
    <ul>
        <li>- Иметь аккаунт в Discord</li>
        <li>- <a href="/login">Авторизоваться на сайте</a></li>
        <li>- Заполнить заявку в <a href="/me">профиле</a></li>
        <li>- Дождаться уведомления о добавлении на сервер от бот-аккаунта <span>Седьмая-из-девяти#3200</span> или
            проверять статус заявки в <a href="/me">профиле</a></li>
    </ul>
    <p>В случае затруднений со входом на сервер можно обратиться к игрокам @Dalandis (<span>Andrey#2445</span>)
        или
        @prestig9110 (<span>prestig9110#1026</span>)</p>
    <p>Записаться на экскурсию по серверу можно у @Blackirita (<span>Блэки#0395</span>) или @Niksa
        (<span>Niksa#6447</span>)</p>
    <h4>Ссылки:</h4>
    <ul>
        <li><a href="https://www.instagram.com/gmgameserver/">- Наш Инстаграм</a></li>
        <li><a href="#support">- Поддержать проект</a></li>
        <li><a href="https://discord.gg/sPR62FDQQz">- Приглашение на наш Дискорд сервер</a>
    </ul>
</div>
{% endblock %}