{% extends "_base.html" %}
{% block content %}
<div class="stats-block">
    <table id="example" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Время игры</th>
                <th>Смертей</th>
                <th>Убито мобов</th>
                <th>Сломано блоков</th>
                <th>Поставлено блоков</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
{% block js_scripts %}
{{ super() }}
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="/static/js/table.js"></script>
{% endblock %}