{% extends "_base.html" %}
{% block content %}
<h2>Поддержать проект</h2>
<h4>Сервер GMGame является абсолютно бесплатным. Он существует и развивается только за счет активных игроков, ламповой атмосферы и ваших пожертвований.</h4>
<p>Вы можете поддержать проект:</p>
<ul>
        <li><a target="_blank" href="https://new.donatepay.ru/@gmgame">- Донатом</a></li>
        <li>- ETH: 0xe8e448f37363276a70e358aa24d95212a771d104</li>
        <li>- BTC: 1F2g4xdEydHTueD5prMvVZ2GRYZFrMNsL3</li>
</ul>

<h4>Спасибо! Ваша поддержка очень важна.</h4>
{% endblock %}