{% extends "_base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/testing_svg.css" />
{% endblock %}

{% block content %}
<div class="testing-block">
    <span class="viev">{% include "/svg/svg_1.html" %}</span>
    <span class="viev">{% include "/svg/svg_2.html" %}</span>
    <span class="viev">{% include "/svg/svg_3.html" %}</span>
    <span class="viev">{% include "/svg/svg_4.html" %}</span>
    <span class="viev">{% include "/svg/svg_5.html" %}</span>
    <span class="viev">{% include "/svg/svg_6.html" %}</span>
    <span class="viev">{% include "/svg/svg_7.html" %}</span>
    <span class="viev">{% include "/svg/svg_8.html" %}</span>
    <span class="viev">{% include "/svg/svg_9.html" %}</span>
    <span class="viev">{% include "/svg/svg_10.html" %}</span>
    <span class="viev">{% include "/svg/svg_11.html" %}</span>
    <span class="viev">{% include "/svg/svg_12.html" %}</span>
    <span class="viev">{% include "/svg/svg_13.html" %}</span>
    <span class="viev">{% include "/svg/svg_14.html" %}</span>
    <span class="viev">{% include "/svg/svg_15.html" %}</span>
    <span class="viev">{% include "/svg/svg_16.html" %}</span>
    <span class="viev">{% include "/svg/svg_17.html" %}</span>
    <span class="viev">{% include "/svg/svg_18.html" %}</span>
    <span class="viev">{% include "/svg/svg_19.html" %}</span>
    <span class="viev">{% include "/svg/svg_20.html" %}</span>
</div>
{% endblock %}