{% extends "_base.html" %}
{% block content %}
<div class="testing-block">
    {% include "/svg/svg_1.html" %}
    {% include "/svg/svg_2.html" %}
    {% include "/svg/svg_3.html" %}
    {% include "/svg/svg_4.html" %}
    {% include "/svg/svg_5.html" %}
    {% include "/svg/svg_6.html" %}
    {% include "/svg/svg_7.html" %}
    {% include "/svg/svg_8.html" %}
    {% include "/svg/svg_9.html" %}
    {% include "/svg/svg_10.html" %}
    {% include "/svg/svg_11.html" %}
    {% include "/svg/svg_12.html" %}
    {% include "/svg/svg_13.html" %}
    {% include "/svg/svg_14.html" %}
    {% include "/svg/svg_15.html" %}
    {% include "/svg/svg_16.html" %}
    {% include "/svg/svg_17.html" %}
    {% include "/svg/svg_18.html" %}
    {% include "/svg/svg_19.html" %}
    {% include "/svg/svg_20.html" %}
</div>
{% endblock %}