.change-password-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .pas-center {
    display: flex;
    flex-direction: column;
    .hint {
      width: auto;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
    .inputpassword {
      display: flex;
      color: #f7f7f7;
      border-radius: 0;
      outline: none;
      background: transparent;
      font-weight: 750;
      font-size: 18px;
      height: auto;
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.2);
      padding: 10px;
      margin: 10px auto;
      width: 300px;
    }
    .buttonpasworld {
      color: white;
      font-weight: 700;
      text-align: center;
      height: auto;
      width: 150px;
      padding: 10px;
      margin: 10px auto;
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.2);
      transition: all 0.35s ease;
      cursor: pointer;
    }
  }
}

// .inputForm {
//   display: flex;
//   color: #f7f7f7;
//   border-radius: 0;
//   outline: none;
//   background: transparent;
//   font-weight: 750;
//   font-size: 18px;
//   height: auto;
//   border: 1px solid black;
//   background: rgba(0, 0, 0, 0.2);
//   padding: 10px;
//   margin: 10px;
// }

// .selectForm {
//   display: flex;
//   color: #f7f7f7;
//   border-radius: 0;
//   outline: none;
//   background: transparent;
//   font-weight: 750;
//   font-size: 18px;
//   height: auto;
//   border: 1px solid black;
//   background: rgba(0, 0, 0, 0.2);
//   padding: 10px;
//   margin: 10px;
// }

// .buttonForm {
//   color: white;
//   font-weight: 700;
//   text-align: center;
//   height: auto;
//   width: 150px;
//   padding: 10px;
//   margin: 10px;
//   border: 1px solid black;
//   background: rgba(0, 0, 0, 0.2);
//   transition: all 0.35s ease;
//   cursor: pointer;
// }
