@media screen and (max-width: 1024px) {
  /*---------- body ----------*/
  /*---------- header ----------*/
  .header {
    height: 250px;
    justify-content: flex-end;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 900px;
    display: flex;
  }
  /*---------- menu ----------*/
  .links {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    min-height: 1000px;
    width: 100%;
    max-width: 450px;
    top: 250px;
    margin-left: 0;
    padding: 15px;
    overflow-y: auto;
    transition: all 0.35s ease;
    transform: translateX(-450px);
    border: none;
  }
  .active {
    transform: translateX(0px);
  }
  .links li {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    height: auto;
  }
  .links li a.desktop-link {
    display: none;
  }
  .links li a,
  .links li label {
    width: 410px;
    display: block;
    padding-left: 15px;
    font-size: 26px;
  }
  .links ul li a,
  .links ul li label {
    width: 350px;
  }
  .links ul li {
    margin: 7px 20px;
  }
  .links ul {
    position: static;
    opacity: 1;
    width: 380px;
    visibility: visible;
    background: none;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: height ease 0.35s;
  }
  .links #one-menu:checked ~ ul,
  .links #two-menu:checked ~ ul,
  .links #three-menu:checked ~ ul {
    transition: height ease 0.35s;
    max-height: 100vh;
    opacity: 1;
  }
  #toggle {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  /*---------- start ----------*/
  /*---------- support ----------*/
  /*---------- mods ----------*/
  /*---------- config-system ----------*/
  /*---------- maps ----------*/
  /*---------- command ----------*/
  /*---------- gallery ----------*/
  /*---------- resources ----------*/
  /*---------- litematica ----------*/
  #litematica .accordion-item-body-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
  }
  .info-litematic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .info-litematic-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .info-litematic ul li a {
    font-size: 14px;
  }
  .accordion-item-body-content img {
    margin: 0;
  }
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
  .container-link {
    width: 900px;
    display: flex;
    padding: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
     .card {
    margin: 0 auto 65px auto;
    height: 550px;
    width: 750px;
  }
  .player-header {
    height: 320px;
  }
  .image {
    height: 320px;
  }
  .icon {
    top: 235px;
  }
   
  .linck-discord {
    margin: 0 auto;
  }
  .linck-discord iframe {
    width: 750px;
    height: 600px;
  }
  /*---------- register ----------*/
  /*---------- profile ----------*/
  .me-info-profile {
    width: 60%;
  }
  .border-line {
    margin-left: 45px;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid #f4f4f450;
  }
  .profile-help {
    width: 40%;
  }
  .link-support-profile {
    width: 100%;
    padding: 0 30px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  /*---------- metki ----------*/
  .metki thead {
    display: none;
  }
  .metki,
  .metki tbody,
  .metki tbody tr,
  .metki tbody tr th {
    display: block;
    width: 100%;
  }
  .metki tbody tr {
    margin-bottom: 15px;
  }
  .metki tbody tr th {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    right: 0;
    text-align: right;
    position: relative;
  }
  .metki tbody tr th::before {
    content: attr(data-label);
    color: #f4f4f4;
    position: absolute;
    left: 0;
    padding-left: 10px;
  }
  .metki tbody tr th input,
  .metki tbody tr th select,
  .metki tbody tr th button,
  .metki tbody tr th span {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    right: 0;
    width: 70%;
    text-align: start;
    border-left: 1px solid #f4f4f4;
  }
  .display-none {
    display: none !important;
  }
}
