@media screen and (max-width: 640px) {
  /*---------- body ----------*/
  /*---------- header ----------*/
  /*---------- header-menu-link ----------*/
  /*---------- menu ----------*/
  .links {
    max-width: 350px;
    padding: 10px;
    transform: translateX(-350px);
  }
  .active {
    transform: translateX(0px);
  }
  .links ul {
    width: 320px;
  }
  .links li a,
  .links li label {
    width: 320px;
    font-size: 24px;
  }
  .links ul li a,
  .links ul li label {
    width: 300px;
  }
  /*---------- start ----------*/
  /*---------- support ----------*/
  /*---------- mods ----------*/
  /*---------- config-system ----------*/
  /*---------- maps ----------*/
  /*---------- command ----------*/
  /*---------- gallery ----------*/
  /*---------- resources ----------*/
  #resources .content {
    padding-left: 0;
  }
  /*---------- litematica ----------*/
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
     .card {
    width: 550px;
    height: auto;
  }
  .player-header {
    height: 250px;
  }
  .image {
    height: 250px;
  }
  .icon {
    top: 200px;
  }
   
  .linck-discord iframe {
    width: 550px;
  }
  /*---------- register ----------*/
  /*---------- profile ----------*/
  .border-line {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f4f4f450;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 20px;
  }
  .flex-tabs {
    flex-direction: row;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .link-support-profile {
    padding: 0 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .profile-tabs .flex-tabs .tab {
    width: auto;
  }
  #tab-one:checked ~ .tabs #tab-one-label::before,
  #tab-two:checked ~ .tabs #tab-two-label::before,
  #tab-three:checked ~ .tabs #tab-three-label::before {
    content: none;
  }
  #tab-one:checked ~ .tabs #tab-one-label::after,
  #tab-two:checked ~ .tabs #tab-two-label::after,
  #tab-three:checked ~ .tabs #tab-three-label::after {
    content: none;
  }
  /*---------- metki ----------*/
  .metki tbody tr th input,
  .metki tbody tr th select,
  .metki tbody tr th button {
    width: 60%;
  }
}
