* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: Montserrat;
  line-height: 1.5;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(32, 42, 48);
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(23, 55, 75);
  // outline: 1px solid rgb(85, 115, 145);
  transition: 2s all ease;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(34, 78, 105);
}
.customBg {
  background: url(../img/bg.webp);
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}
.customBg::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  // backdrop-filter: blur(9px);
  // filter: blur(9px);
}
.body-center-container {
  display: flex;
  justify-content: center;
  z-index: 10;
  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
    min-height: 1400px;
    width: 1600px;
    color: #f7f7f7;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.7);
    p {
      font-size: 16px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h1 {
      font-size: 32px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: #f7f7f7;
    }
    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #f7f7f7;
    }
    ul {
      padding-top: 10px;
      padding-left: 40px;
      padding-bottom: 10px;
    }
    ul li {
      font-size: 18px;
      line-height: 1.75;
      text-decoration: none;
      font-weight: 600;
      color: #f7f7f7;
    }
    a {
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: #3b9dff;
      :visited,
      :hover,
      :active {
        color: #3b9dff;
      }
    }
  }
}
.wiki-href{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  .linkins-wiki {
    width: auto;
  }
  .span-w{
    color: #f7f7f7;
    margin: 5px;
  }
}
.main-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  h6 {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}












/*---------------------------------------- metki ----------------------------------------*/
.metki {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  position: relative;
  thead {
    background: rgba(61, 61, 61, 0.55);
    width: 100%;
    tr {
      th {
        font-weight: 600;
        letter-spacing: 0.35px;
        color: #f7f7f7;
        opacity: 1;
        padding: 5px;
        vertical-align: middle;
        border: 1px solid #f7f7f715;
      }
      .x-y-z {
        text-align: center;
        width: 7%;
      }
    }
  }
  tbody {
    tr {
      th {
        font-weight: 600;
        letter-spacing: 0.35px;
        color: #f7f7f7;
        background: transparent;
        vertical-align: middle;
        border: 1px solid #f7f7f715;
        padding: 5px;
        input,
        select,
        button {
          color: #f7f7f7;
          height: 100%;
          width: 100%;
          background: transparent;
          padding: 5px;
          border: none;
          border-radius: 0;
          outline: none;
          transition: all 0.5s ease;
          select {
            padding: 0 8px;
            option {
              background: #3a3b3d;
            }
          }
        }
        button {
          &hover {
            background: rgba(168, 168, 168, 0.589);
          }
        }
        span {
          padding: 0 8px;
        }
      }
      .x-y-z {
        text-align: center;
      }
    }
  }
}
.header-metki {
  width: 100%;
  height: auto;
  background: rgba(56, 56, 56, 0.75);
  text-align: center;
  padding: 5px;
  border: 1px solid #f7f7f715;
  border-bottom: none;
}

@media screen and (max-width: 1700px) {
  /*---------- body ----------*/
  .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1600px;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: 1550px;
  }
}
@media screen and (max-width: 1600px) {
  /*---------- body ----------*/
  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1550px;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: auto;
    min-width: 1400px;
  }
  /*---------- menu ----------*/
  .links li {
    width: 310px;
    margin-left: 14px;
    margin-right: 14px;
    a,
    label {
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 1400px) {
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    width: auto;
    min-width: 1200px;
  }
  /*---------- register ----------*/
  .panel {
    .profile {
      .me-register {
        .border-line {
          margin-left: 50px;
          margin-right: 50px;
        }
      }
    }
  }
  /*---------- profile ----------*/
  /*---------- metki ----------*/
}
@media screen and (max-width: 1024px) {
  /*---------- header ----------*/
  .header {
    // height: 50px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 900px;
    display: flex;
  }
  /*---------- menu ----------*/
  .menu {
    .content-menu {
      .links {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        background: rgba(48, 52, 73, 0.95);
        height: auto;
        width: 100%;
        max-width: 450px;
        top: 130px;
        margin-left: 0;
        padding: 15px;
        overflow-y: auto;
        transition: all 0.35s ease;
        transform: translateX(-450px);
        border: none;
        align-items: start;
        li {
          display: flex;
          flex-direction: column;
          text-align: start;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 0;
          margin-right: 0;
          cursor: pointer;
          height: auto !important;
          a,
          label {
            width: auto;
            display: block;
            padding-left: 15px;
            font-size: 26px;
            height: auto;
          }
          .desktop-link {
            display: none;
          }
          ul {
            position: static !important;
            // width: 380px;
            visibility: visible;
            background: none;
            // opacity: 0;
            max-height: 0px;
            overflow: hidden;
            transition: height ease 0.35s;
            li {
              margin: 7px 20px;
              width: auto;
              a,
              label {
                width: 350px;
              }
            }
          }
        }

        #one-menu:checked ~ ul,
        #two-menu:checked ~ ul,
        #three-menu:checked ~ ul {
          transition: height ease 0.35s;
          max-height: 100vh;
          opacity: 1 !important;
        }
      }
      .active {
        transform: translateX(0px);
      }
    }
  }
  #toggle {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  /*---------- litematica ----------*/
  .litem {
    .info-litematic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
    .info-litematic-img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
    }
  }
  /*---------- gallery ----------*/
  .gallery-block {
    .gallery {
      .block-img {
        width: 48%;
      }
    }
    .modal-container-main {
      .modal-content {
        display: flex;
        flex-direction: column-reverse;
        // justify-content: center;
        padding: 0;
        width: 90%;
        height: 80%;
        .content-gallery-text {
          display: flex;
          width: 95%;
          height: 100%;
          overflow: auto;
          p,
          a {
            margin: 5px;
            margin-top: 5px;
            font-size: 16px;
            text-transform: none;
            color: #f7f7f7;
          }
        }
        .content-gallery-photo {
          display: flex;
          width: 95%;
          height: 100%;
          .fotorama-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            width: auto;
            height: auto;
            padding: 15px !important;
          }
        }
      }
    }
  }
  /*---------- market ----------*/
  /*---------- accordion-2 ----------*/
  /*---------- main-container ----------*/
  .container-link {
    width: 900px;
    display: flex;
    padding: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*---------- register ----------*/
  .profile-tabs {
    .flex-tabs {
      .panel {
        .profile {
          .me-info-profile {
            padding: 0;
            padding-top: 15px;
            width: 65%;
            .border-line {
              margin-left: 40px;
            }
          }
          .me-info-profile-wight {
            .border-line {
              margin-right: 40px;
            }
          }
          .profile-help {
            width: 35%;
          }
          .me-register {
            .border-line {
              margin-left: 40px;
              margin-right: 40px;
            }
          }
          .regulations-block {
            padding-left: 40px;
            padding-right: 40px;
          }
          .link-support-profile {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
        .faq-block {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  }
  /*---------- profile ----------*/
  /*---------- metki ----------*/
  .metki {
    display: block;
    width: 100%;
    thead {
      display: none;
    }
    tbody {
      display: block;
      width: 100%;
      tr {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        th {
          display: block;
          width: 100%;
          padding-right: 0;
          padding-bottom: 0;
          padding-top: 0;
          width: 100%;
          right: 0;
          text-align: right;
          position: relative;
          &::before {
            content: attr(data-label);
            color: #f7f7f7;
            position: absolute;
            left: 0;
            padding-left: 10px;
          }
          input,
          select,
          button,
          span {
            padding-right: 0;
            padding-bottom: 0;
            padding-top: 0;
            right: 0;
            width: 70%;
            text-align: start;
            border-left: 1px solid #f7f7f7;
          }
        }
      }
    }
  }
  .display-none {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  /*---------- body ----------*/
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
  }
  h2 {
    font-size: 26px;
    font-weight: 900;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  /*---------- header-menu-link ----------*/
  .wrapper-link {
    min-width: 550px;
  }
  /*---------- litematica ----------*/
  .litem {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  /*---------- profile ----------*/
  .profile-tabs {
    .flex-tabs {
      .panel {
        .profile {
          display: flex;
          flex-direction: column;
          .me-info-profile {
            width: 100%;
            .border-line {
              span {
                width: auto;
              }
            }
          }
          .profile-help {
            width: 100%;
            padding-top: 10px;
            a {
              margin-top: 5px;
              padding-left: 45px;
            }
          }
          .link-support-profile {
            width: 100%;
            padding: 0 30px;
            padding-left: 50px;
            padding-bottom: 50px;
          }
          .me-register {
            width: 100%;
          }
        }
        .border-line {
          margin-left: 45px;
          margin-right: 45px;
          margin-bottom: 15px;
          padding-bottom: 0;
          border-bottom: 1px solid #f7f7f750;
        }
      }
    }
  }
  .phone-stat-link-h2 {
    display: flex !important;
  }
  .phone-stat-link-tadles {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  /*---------- menu ----------*/
  .links {
    max-width: 350px;
    padding: 10px;
    transform: translateX(-350px);
    a,
    label {
      width: 320px;
      font-size: 24px;
    }
    ul {
      width: 320px;
      li {
        a,
        label {
          width: 300px;
        }
      }
    }
  }
  .active {
    transform: translateX(0px);
  }
  /*---------- profile ----------*/
  .border-line {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f750;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 20px;
  }
  .flex-tabs {
    flex-direction: row;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .link-support-profile {
    padding: 0 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .profile-tabs .flex-tabs .tab {
    width: auto;
  }
  #tab-one:checked ~ .tabs #tab-one-label::before,
  #tab-two:checked ~ .tabs #tab-two-label::before,
  #tab-three:checked ~ .tabs #tab-three-label::before {
    content: none;
  }
  #tab-one:checked ~ .tabs #tab-one-label::after,
  #tab-two:checked ~ .tabs #tab-two-label::after,
  #tab-three:checked ~ .tabs #tab-three-label::after {
    content: none;
  }
  /*---------- metki ----------*/
  .metki tbody tr th input,
  .metki tbody tr th select,
  .metki tbody tr th button {
    width: 60%;
  }
  .accordion-2 {
    .accordion-item {
      width: 100%;
      min-width: auto;
      .accordion-item-body {
        .accordion-item-body-content {
          ul {
            .liWar {
              img {
                width: 22px;
                height: 22px;
              }
              .ban {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  /*---------- body ----------*/
  p {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 28px;
    font-weight: 900;
  }
  h2 {
    font-size: 22px;
    font-weight: 900;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
  }
  h6 {
    font-size: 14px;
  }
  .container ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .container ul li {
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  /*---------- header-menu-link ----------*/
  .header {
    height: 110px;
  }
  .menu {
    .content-menu {
      .links {
        top: 110px;
      }
    }
  }
  .wrapper-link {
    min-width: auto;
    .button-link {
      height: 40px;
      width: 42px;
      flex-wrap: wrap;
      &:hover {
        width: auto;
      }
      .icon-button {
        img,
        svg {
          height: 30px;
          width: 30px;
          margin: 5px;
        }
      }
      span {
        height: 40px;
        line-height: 40px;
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
  /*---------- litematica ----------*/
  .info-litematic ul li {
    text-overflow: ellipsis;
  }
  /*---------- register ----------*/
  .warning-help-1 {
    font-size: 16px;
  }
  .warning-help-2 {
    font-size: 16px;
  }
  .warning-help-2 a:visited {
    font-size: 16px;
  }
  /*---------- profile ----------*/
  .border-line {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f750;
  }
  .profile-help a {
    margin-top: 5px;
    padding-left: 5px;
  }
  .flex-tabs {
    flex-direction: row;
  }
  .link-support-profile {
    padding: 0 30px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  .profile-tabs .flex-tabs .tab span {
    display: none;
  }
  .profile-tabs .flex-tabs .tab {
    width: 60px;
    height: 60px;
  }
  .profile-tabs .flex-tabs .tab svg {
    margin: auto;
  }
  /*---------- metki ----------*/
  .accordion-2 {
    .accordion-item {
      width: 100%;
      min-width: auto;
      .accordion-item-body {
        .accordion-item-body-content {
          ul {
            .liWar {
              display: flex;
              flex-direction: column;
              padding-left: 0;
              padding-bottom: 20px;
              img {
                display: none;
              }
              .ban {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  /*---------- profile ----------*/
  .profile-tabs {
    .flex-tabs {
      .panel {
        .profile {
          .me-info-profile {
            .border-line {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
          .profile-help {
            padding: 0;
          }
          .regulations-block {
            padding-left: 15px;
            padding-right: 15px;
          }
          .link-support-profile {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
        .faq-block {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  .gallery-block {
    .gallery {
      .block-img {
        width: 98%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  /*---------- body ----------*/
  .container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  /*---------- profile ----------*/
  .me-photo img {
    width: 75%;
    margin: 10px auto;
  }
  .me-info-profile h3 {
    font-size: 16px;
  }
  /*---------- metki ----------*/
}
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
